# ASSOCIATION RULE 
WITH OVERALL SATISFACTION AND THE OTHER SATISFACTION

Express how product/services relate to each other, and tend to group together.

In [1]:
#vanno importate pandas e numpy e matplot per fare i grafici
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split  
from pandas import DataFrame

In [2]:
df = pd.read_csv(r'C:\Users\jigok\OneDrive\Desktop\UniPISA\1semestre1Anno\Data Mining\Progetto\Dataset AR\All_values_Train_HR_Employee_Attrition_AllSatisfaction.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       883 non-null    float64
 1   Attrition                 883 non-null    object
 2   BusinessTravel            883 non-null    object
 3   DistanceFromHome          883 non-null    int64
 4   Education                 883 non-null    int64
 5   EnvironmentSatisfaction   883 non-null    int64
 6   Gender                    883 non-null    object
 7   JobInvolvement            883 non-null    int64
 8   JobLevel                  883 non-null    int64
 9   JobRole                   883 non-null    object
 10  JobSatisfaction           883 non-null    int64
 11  MonthlyIncome             883 non-null    float64
 12  NumCompaniesWorked        883 non-null    int64
 13  OverTime                  883 non-null    object
 14  PercentSalaryHike         883 non-null    int64
 15  RelationshipSatisfaction  883 non-null    int64
 16  StockOptionLevel          883 non-null    int64
 17  TrainingTimesLastYear     883 non-null    float64
 18  WorkLifeBalance           883 non-null    int64
 19  YearsAtCompany            883 non-null    float64
 20  YearsInCurrentRole        883 non-null    int64
 21  MonthlyHours              883 non-null    float64
 22  OverallSatisfaction       883 non-null    float64
 23  TaxRate                   883 non-null    float64
dtypes: float64(7), int64(12), object(5)
memory usage: 165.7+ KB

In [4]:
#discretizzo OverallSatisfaction
def labels(x):
    if  1.0 <= x <= 1.5:
        return(1)
    elif 1.6 <= x <= 2.5:
        return(2)
    elif 2.6 <= x <= 3.5:
        return(3)
    elif 3.6 <= x <= 4.5:
        return(4)
    else:
        return(4)

df['OverallSatisfaction'] = df['OverallSatisfaction'].apply(lambda x: labels(x))
#arrotondo le medie
df.head(5)

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,PercentSalaryHike,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,MonthlyHours,OverallSatisfaction,TaxRate
0,52.0,No,Travel_Rarely,9,4,2,Male,3,3,Research Director,...,17,3,0,2.0,2,8.0,7,156.613636,3,0.387172
1,36.0,No,Travel_Rarely,1,1,2,Male,3,5,Manager,...,14,3,1,3.0,3,1.0,8,157.942308,3,0.411421
2,25.0,No,Travel_Frequently,16,3,3,Male,3,2,Sales Executive,...,25,3,1,4.0,3,1.0,5,448.055556,3,0.704402
3,33.0,No,Travel_Rarely,5,4,2,Male,3,1,Research Scientist,...,14,2,0,1.0,3,3.0,7,271.907692,2,0.841632
4,31.0,No,Travel_Rarely,9,2,3,Female,3,1,Laboratory Technician,...,12,3,0,2.0,3,10.0,2,106.373333,3,0.207947

In [5]:
df.describe()

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,MonthlyHours,OverallSatisfaction,TaxRate
count,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000
mean,36.554926,9.201586,2.886750,2.684032,2.750849,1.919592,2.703284,6932.335221,2.836920,15.207248,2.716874,0.793884,2.665912,2.767837,6.326161,3.919592,234.245826,2.725934,0.463811
std,8.266129,8.241818,1.008285,1.092567,0.729354,1.007506,1.087061,5453.370217,2.484993,3.589332,1.078137,0.865362,1.187828,0.721713,4.523567,3.435392,130.196628,0.523459,0.320030
min,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1009.000000,0.000000,11.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,26.043478,1.000000,0.000000
25%,30.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,3072.000000,1.000000,12.000000,2.000000,0.000000,2.000000,2.000000,3.000000,2.000000,130.630208,2.000000,0.129730
50%,35.000000,7.000000,3.000000,3.000000,3.000000,2.000000,3.000000,5079.000000,2.000000,14.000000,3.000000,1.000000,2.000000,3.000000,5.000000,3.000000,212.279070,3.000000,0.528359
75%,42.000000,14.000000,4.000000,4.000000,3.000000,2.000000,4.000000,8840.500000,4.000000,18.000000,4.000000,1.000000,3.000000,3.000000,9.000000,7.000000,309.906250,3.000000,0.762560
max,60.000000,29.000000,5.000000,4.000000,4.000000,5.000000,4.000000,26997.000000,9.000000,25.000000,4.000000,3.000000,6.000000,4.000000,20.000000,16.000000,590.976744,4.000000,0.951396

BINNING

In [6]:
#numero bin con la distribuzione istogrammi variabili
#Apply binning to continuous features

df['AgeBin'] = pd.cut(df['Age'].astype(int), 6, right=False)
df['DistanceFromHomeBin'] = pd.cut(df['DistanceFromHome'].astype(int), 10, right=False)
df['PercentSalaryHikeBin'] = pd.cut(df['PercentSalaryHike'].astype(int), 5, right=False)
df['MonthlyIncomeBin'] = pd.cut(df['MonthlyIncome'].astype(int), 10, right=False)
df['MonthlyHoursBin'] = pd.cut(df['MonthlyHours'].astype(int), 10, right=False)



df.drop(['Age', 'MonthlyIncome', 'MonthlyHours','DistanceFromHome','PercentSalaryHike'], axis=1, inplace=True)

df.head()

,Attrition,BusinessTravel,Education,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,NumCompaniesWorked,...,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,OverallSatisfaction,TaxRate,AgeBin,DistanceFromHomeBin,PercentSalaryHikeBin,MonthlyIncomeBin,MonthlyHoursBin
0,No,Travel_Rarely,4,2,Male,3,3,Research Director,3,9,...,2,8.0,7,3,0.387172,"[46.0, 53.0)","[6.6, 9.4)","[16.6, 19.4)","[6206.6, 8805.4)","[138.8, 195.2)"
1,No,Travel_Rarely,1,2,Male,3,5,Manager,3,1,...,3,1.0,8,3,0.411421,"[32.0, 39.0)","[1.0, 3.8)","[13.8, 16.6)","[3607.8, 6206.6)","[138.8, 195.2)"
2,No,Travel_Frequently,3,3,Male,3,2,Sales Executive,4,1,...,3,1.0,5,3,0.704402,"[25.0, 32.0)","[15.0, 17.8)","[22.2, 25.014)","[3607.8, 6206.6)","[420.8, 477.2)"
3,No,Travel_Rarely,4,2,Male,3,1,Research Scientist,2,2,...,3,3.0,7,2,0.841632,"[32.0, 39.0)","[3.8, 6.6)","[13.8, 16.6)","[1009.0, 3607.8)","[251.6, 308.0)"
4,No,Travel_Rarely,2,3,Female,3,1,Laboratory Technician,4,1,...,3,10.0,2,3,0.207947,"[25.0, 32.0)","[6.6, 9.4)","[11.0, 13.8)","[6206.6, 8805.4)","[82.4, 138.8)"

MAPPING

In [7]:
df['Education'] = df['Education'].map(
    {1: 'Below College', 2: 'College', 3:'Bachelor', 4:'Master', 5:'Doctor'}).astype(str)
df['OverallSatisfaction'] = df['OverallSatisfaction'].map(
    {1: 'Low', 2: 'Medium', 3:'High', 4:'Very High'}).astype(str)+'_Overall'
df['JobLevel'] = df['JobLevel'].map(
    {1: 'EntryLevel', 2: 'MidLevel', 3:'SeniorLevel', 4:'Manager', 5:'Director'}).astype(str)


df['AgeBin'] = df['AgeBin'].astype(str) + '_Age'
df['MonthlyIncomeBin'] = df['MonthlyIncomeBin'].astype(str) + '_Income'
df['MonthlyHoursBin'] = df['MonthlyHoursBin'].astype(str) + '_Hours'
df['DistanceFromHomeBin'] = df['DistanceFromHomeBin'].astype(str) + '_Distance'
df['YearsAtCompany'] = df['YearsAtCompany'].astype(str) + '_YearsAtCompany'
df['PercentSalaryHikeBin'] = df['PercentSalaryHikeBin'].astype(str) + '_%'

df['NumCompaniesWorked'] = df['NumCompaniesWorked'].astype(str) + '_companies'
df['StockOptionLevel'] = df['StockOptionLevel'].astype(str) + '_stockOption'
df['TrainingTimesLastYear'] = df['TrainingTimesLastYear'].astype(str) + '_Time'
df['YearsInCurrentRole'] = df['YearsInCurrentRole'].astype(str) + '_YearsInCurrentRole'
df['TaxRate'] = df['TaxRate'].astype(str) + '_TaxRate'
df['OverTime'] = df['OverTime'].astype(str) + '_OverTime'
df['Attrition'] = df['Attrition'].astype(str) + '_Attrition'

#add
df['EnvironmentSatisfaction'] = df['EnvironmentSatisfaction'].astype(str) + '_ESat'
df['JobSatisfaction'] = df['JobSatisfaction'].astype(str) + '_JSat'
df['JobInvolvement'] = df['JobInvolvement'].astype(str) + '_JIvol'
df['WorkLifeBalance'] = df['WorkLifeBalance'].astype(str) + '_WLBalance'
df['RelationshipSatisfaction'] = df['RelationshipSatisfaction'].astype(str) + '_RSat'

df.head(5)

,Attrition,BusinessTravel,Education,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,NumCompaniesWorked,...,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,OverallSatisfaction,TaxRate,AgeBin,DistanceFromHomeBin,PercentSalaryHikeBin,MonthlyIncomeBin,MonthlyHoursBin
0,No_Attrition,Travel_Rarely,Master,2_ESat,Male,3_JIvol,SeniorLevel,Research Director,3_JSat,9_companies,...,2_WLBalance,8.0_YearsAtCompany,7_YearsInCurrentRole,High_Overall,0.3871716731969235_TaxRate,"[46.0, 53.0)_Age","[6.6, 9.4)_Distance","[16.6, 19.4)_%","[6206.6, 8805.4)_Income","[138.8, 195.2)_Hours"
1,No_Attrition,Travel_Rarely,Below College,2_ESat,Male,3_JIvol,Director,Manager,3_JSat,1_companies,...,3_WLBalance,1.0_YearsAtCompany,8_YearsInCurrentRole,High_Overall,0.4114209180567393_TaxRate,"[32.0, 39.0)_Age","[1.0, 3.8)_Distance","[13.8, 16.6)_%","[3607.8, 6206.6)_Income","[138.8, 195.2)_Hours"
2,No_Attrition,Travel_Frequently,Bachelor,3_ESat,Male,3_JIvol,MidLevel,Sales Executive,4_JSat,1_companies,...,3_WLBalance,1.0_YearsAtCompany,5_YearsInCurrentRole,High_Overall,0.7044017358958462_TaxRate,"[25.0, 32.0)_Age","[15.0, 17.8)_Distance","[22.2, 25.014)_%","[3607.8, 6206.6)_Income","[420.8, 477.2)_Hours"
3,No_Attrition,Travel_Rarely,Master,2_ESat,Male,3_JIvol,EntryLevel,Research Scientist,2_JSat,2_companies,...,3_WLBalance,3.0_YearsAtCompany,7_YearsInCurrentRole,Medium_Overall,0.8416317754894195_TaxRate,"[32.0, 39.0)_Age","[3.8, 6.6)_Distance","[13.8, 16.6)_%","[1009.0, 3607.8)_Income","[251.6, 308.0)_Hours"
4,No_Attrition,Travel_Rarely,College,3_ESat,Female,3_JIvol,EntryLevel,Laboratory Technician,4_JSat,1_companies,...,3_WLBalance,10.0_YearsAtCompany,2_YearsInCurrentRole,High_Overall,0.20794685384808226_TaxRate,"[25.0, 32.0)_Age","[6.6, 9.4)_Distance","[11.0, 13.8)_%","[6206.6, 8805.4)_Income","[82.4, 138.8)_Hours"

# Creo i Baskets

In [8]:
baskets = df.values.tolist()

In [9]:
baskets[0]

['No_Attrition',
 'Travel_Rarely',
 'Master',
 '2_ESat',
 'Male',
 '3_JIvol',
 'SeniorLevel',
 'Research Director',
 '3_JSat',
 '9_companies',
 'No_OverTime',
 '3_RSat',
 '0_stockOption',
 '2.0_Time',
 '2_WLBalance',
 '8.0_YearsAtCompany',
 '7_YearsInCurrentRole',
 'High_Overall',
 '0.3871716731969235_TaxRate',
 '[46.0, 53.0)_Age',
 '[6.6, 9.4)_Distance',
 '[16.6, 19.4)_%',
 '[6206.6, 8805.4)_Income',
 '[138.8, 195.2)_Hours']

# Apriori Algorithm

In [10]:
from fim import apriori

In [11]:
help(apriori)

Help on built-in function apriori in module fim:

apriori(...)
    apriori (tracts, target='s', supp=10, zmin=1, zmax=None, report='a',
             eval='x', agg='x', thresh=10, prune=None, algo='b', mode='',
             border=None)
    Find frequent item sets with the Apriori algorithm.
    tracts  transaction database to mine (mandatory)
            The database must be an iterable of transactions;
            each transaction must be an iterable of items;
            each item must be a hashable object.
            If the database is a dictionary, the transactions are
            the keys, the values their (integer) multiplicities.
    target  type of frequent item sets to find     (default: s)
            s/a   sets/all   all     frequent item sets
            c     closed     closed  frequent item sets
            m     maximal    maximal frequent item sets
            g     gens       generators
            r     rules      association rules
    supp    minimum support of an item set         (default: 10)
            (positive: percentage, negative: absolute number)
    conf    minimum confidence of an assoc. rule   (default: 80%)
    zmin    minimum number of items per item set   (default: 1)
    zmax    maximum number of items per item set   (default: no limit)
    report  values to report with an item set      (default: a)
            a     absolute item set support (number of transactions)
            s     relative item set support as a fraction
            S     relative item set support as a percentage
            e     value of item set evaluation measure
            E     value of item set evaluation measure as a percentage
            (     combine values in a tuple (must be first character)
            [     combine values in a list  (must be first character)
            #     pattern spectrum as a dictionary  (no patterns)
            =     pattern spectrum as a list        (no patterns)
            |     pattern spectrum as three columns (no patterns)
            for target 'r' (association rules) also available:
            b     absolute body set  support (number of transactions)
            x     relative body set  support as a fraction
            X     relative body set  support as a percentage
            h     absolute head item support (number of transactions)
            y     relative head item support as a fraction
            Y     relative head item support as a percentage
            c     rule confidence as a fraction
            C     rule confidence as a percentage
            l     lift value of a rule (confidence/prior)
            L     lift value of a rule as a percentage
            Q     support of the empty set (total number of transactions)
    eval    measure for item set evaluation        (default: x)
            x     none       no measure / zero (default)
            b     ldratio    binary logarithm of support quotient       (+)
            c     conf       rule confidence                            (+)
            d     confdiff   absolute confidence difference to prior    (+)
            l     lift       lift value (confidence divided by prior)   (+)
            a     liftdiff   absolute difference of lift value to 1     (+)
            q     liftquot   difference of lift quotient to 1           (+)
            v     cvct       conviction (inverse lift negated head)     (+)
            e     cvctdiff   absolute difference of conviction to 1     (+)
            r     cvctquot   difference of conviction quotient to 1     (+)
            k     cprob      conditional probability ratio              (+)
            j     import     importance (binary log. of prob. ratio)    (+)
            z     cert       certainty factor (relative conf. change)   (+)
            n     chi2       normalized chi^2 measure                   (+)
            p     chi2pval   p-value f/ (unnormalized) chi^2 measure    (-)
            y     yates      normalized chi^2 with Yates' correction    (+)
            t     yatespval  p-value f/ Yates-corrected chi^2 measure   (-)
            i     info       information difference to prior            (+)
            g     infopval   p-value f/ G statistic/info. difference    (-)
            f     fetprob    Fisher's exact test (table probability)    (-)
            h     fetchi2    Fisher's exact test (chi^2 measure)        (-)
            m     fetinfo    Fisher's exact test (mutual information)   (-)
            s     fetsupp    Fisher's exact test (support)              (-)
            Measures marked with (+) must meet or exceed the threshold,
            measures marked with (-) must not exceed the threshold
            in order for the item set to be reported.
    agg     evaluation measure aggregation mode    (default: x)
            x     none       no aggregation (use first value)
            m     min        minimum of individual measure values
            n     max        maximum of individual measure values
            a     avg        average of individual measure values
    thresh  threshold for evaluation measure       (default: 10%)
    prune   min. size for evaluation filtering     (default: no pruning)
            = 0   backward filtering       (no subset check)
            < 0   weak   forward filtering (one subset  must qualify)
            > 0   strong forward filtering (all subsets must qualify)
    algo    algorithm variant to use               (default: a)
            b     basic      standard algorithm (only choice)
    mode    operation mode indicators/flags        (default: None)
            x     do not use perfect extension pruning
            t/T   do not organize transactions as a prefix tree
            y     a-posteriori pruning of infrequent item sets
            z     invalidate evaluation below expected support
            o     use original rule support definition (body & head)
    border  support border for filtering item sets (default: None)
            Must be a list or tuple of (absolute) minimum support values
            per item set size (by which the list/tuple is indexed).
    appear  dictionary mapping items to item appearance indicators,
            with the key None referring to the default item appearance.
            (If None does not occur as a key or no dictionary is given,
            the default item appearance indicator is 'both'.)
            This parameter is only used if the target type is rules.
            * item may not appear anywhere in a rule:
              '-', 'n', 'none', 'neither', 'ignore'
            * item may appear only in rule body/antecedent:
              'i', 'in', 'inp', 'input', 'b', 'body',
              'a', 'ante', 'antecedent'
            * item may appear only in rule head/consequent:
              'o', 'out',      'output', 'h', 'head',
              'c', 'cons', 'consequent'
            * item may appear anywhere in a rule:
              'io', 'i&o', 'inout', 'in&out', 'bh', 'b&h', 'both'
    returns if report is not in ['#','=','|']:
              if the target is association rules:
                a list of rules (i.e. tuples with two or more elements),
                each consisting of a head/consequent item, a tuple with
                a body/antecedent item set, and the values selected by
                the parameter 'report', which may be combined into a
                tuple or a list if report[0] is '(' or '[', respectively.
              if the target is a type of item sets:
                a list of patterns (i.e. tuples with one or more elements),
                each consisting of a tuple with a found frequent item set
                and the values selected by the parameter 'report', which
                may be combined into a tuple or list if report[0] is '('
                or '[', respectively
            if report in ['#','=','|']:
              a pattern spectrum as a dictionary mapping pattern sizes
              to the corresponding occurrence support ranges, as a list
              of triplets (size, min. support, max. support) or as three
              columns for sizes and minimum and maximum support values

# Description of the Value

We have decide to do some proves with different characterized value of support. This value are 2,10,20,30,40,50,60,70,80,90.
After that we have to do some proves with different type of target , a for frequent itemset, m for maximal itemset e c for closed itemset. 

For choosing the best combination we try to create the frequent itemset with different min value from the range 0-24.

# Support =20%

Frequent Itemsets with min value in a range 0 to 24

In [12]:
x = 0
for x in range (24):
    items = apriori(baskets, supp=20, report ='s', target='a',zmin = x)
    print('Number of itemsets for zimin',x, ':' , len(items))

Number of itemsets for zimin 0 : 328
Number of itemsets for zimin 1 : 327
Number of itemsets for zimin 2 : 286
Number of itemsets for zimin 3 : 141
Number of itemsets for zimin 4 : 26
Number of itemsets for zimin 5 : 1
Number of itemsets for zimin 6 : 0
Number of itemsets for zimin 7 : 0
Number of itemsets for zimin 8 : 0
Number of itemsets for zimin 9 : 0
Number of itemsets for zimin 10 : 0
Number of itemsets for zimin 11 : 0
Number of itemsets for zimin 12 : 0
Number of itemsets for zimin 13 : 0
Number of itemsets for zimin 14 : 0
Number of itemsets for zimin 15 : 0
Number of itemsets for zimin 16 : 0
Number of itemsets for zimin 17 : 0
Number of itemsets for zimin 18 : 0
Number of itemsets for zimin 19 : 0
Number of itemsets for zimin 20 : 0
Number of itemsets for zimin 21 : 0
Number of itemsets for zimin 22 : 0
Number of itemsets for zimin 23 : 0

In [13]:
itemsets = apriori(baskets, supp=20, report ='s', target='a',zmin = 4)
print('Number of itemsets:', len(itemsets))
itemsets

Number of itemsets: 26

[(('Bachelor', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2072480181200453),
 (('2.0_Time', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.20385050962627407),
 (('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  0.24462061155152887),
 (('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  0.22989807474518686),
 (('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  0.22536806342015855),
 (('3_JIvol', 'Male', 'High_Overall', 'No_Attrition'), 0.2287655719139298),
 (('3_JIvol', 'Male', 'No_OverTime', 'No_Attrition'), 0.24575311438278596),
 (('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'), 0.21404303510758776),
 (('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.20838052095130238),
 (('3_JIvol', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  0.2740656851642129),
 (('3_JIvol', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.2638731596828992),
 (('3_JIvol', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.26727066817667045),
 (('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'), 0.2287655719139298),
 (('3_WLBalance', 'Male', 'No_OverTime', 'Travel_Rarely'), 0.2015855039637599),
 (('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'), 0.23556058890147225),
 (('3_WLBalance', 'Male', 'Travel_Rarely', 'No_Attrition'),
  0.22989807474518686),
 (('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.232163080407701),
 (('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  0.21630804077010193),
 (('3_WLBalance', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  0.2842582106455266),
 (('3_WLBalance', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.289920724801812),
 (('3_WLBalance', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.29784824462061155),
 (('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.20498301245753114),
 (('Male', 'High_Overall', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('High_Overall', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248)]

In [14]:
itemsets1 = apriori(baskets, supp=20, report ='s', target='a',zmin = 5)
print('Number of itemsets:', len(itemsets1))
itemsets1

Number of itemsets: 1

[(('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  0.21630804077010193)]

Maximal Itemset with min value in a range 0 to 24

In [15]:
x = 0
for x in range (24):
    items1 = apriori(baskets, supp=20, report ='s', target='m',zmin = x)
    print('Number of itemsets for zimin',x, ':' , len(items1))

Number of itemsets for zimin 0 : 154
Number of itemsets for zimin 1 : 154
Number of itemsets for zimin 2 : 146
Number of itemsets for zimin 3 : 96
Number of itemsets for zimin 4 : 21
Number of itemsets for zimin 5 : 1
Number of itemsets for zimin 6 : 0
Number of itemsets for zimin 7 : 0
Number of itemsets for zimin 8 : 0
Number of itemsets for zimin 9 : 0
Number of itemsets for zimin 10 : 0
Number of itemsets for zimin 11 : 0
Number of itemsets for zimin 12 : 0
Number of itemsets for zimin 13 : 0
Number of itemsets for zimin 14 : 0
Number of itemsets for zimin 15 : 0
Number of itemsets for zimin 16 : 0
Number of itemsets for zimin 17 : 0
Number of itemsets for zimin 18 : 0
Number of itemsets for zimin 19 : 0
Number of itemsets for zimin 20 : 0
Number of itemsets for zimin 21 : 0
Number of itemsets for zimin 22 : 0
Number of itemsets for zimin 23 : 0

In [16]:
itemsets4 = apriori(baskets, supp=20, report ='s', target='m',zmin = 4)
print('Number of itemsets:', len(itemsets4))
itemsets4

Number of itemsets: 21

[(('Bachelor', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2072480181200453),
 (('2.0_Time', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.20385050962627407),
 (('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  0.24462061155152887),
 (('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  0.22989807474518686),
 (('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  0.22536806342015855),
 (('3_JIvol', 'Male', 'High_Overall', 'No_Attrition'), 0.2287655719139298),
 (('3_JIvol', 'Male', 'No_OverTime', 'No_Attrition'), 0.24575311438278596),
 (('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'), 0.21404303510758776),
 (('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.20838052095130238),
 (('3_JIvol', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  0.2740656851642129),
 (('3_JIvol', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.2638731596828992),
 (('3_JIvol', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.26727066817667045),
 (('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'), 0.2287655719139298),
 (('3_WLBalance', 'Male', 'No_OverTime', 'Travel_Rarely'), 0.2015855039637599),
 (('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'), 0.23556058890147225),
 (('3_WLBalance', 'Male', 'Travel_Rarely', 'No_Attrition'),
  0.22989807474518686),
 (('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  0.21630804077010193),
 (('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.20498301245753114),
 (('Male', 'High_Overall', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978)]

In [17]:
itemsets5 = apriori(baskets, supp=20, report ='s', target='m',zmin = 5)
print('Number of itemsets:', len(itemsets5))
itemsets5

Number of itemsets: 1

[(('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  0.21630804077010193)]

Closed Itemset with min value in a range 0 to 24

In [18]:
x = 0
for x in range (24):
    items2 = apriori(baskets, supp=20, report ='s', target='c',zmin = x)
    print('Number of itemsets for zimin',x, ':' , len(items2))

Number of itemsets for zimin 0 : 328
Number of itemsets for zimin 1 : 327
Number of itemsets for zimin 2 : 286
Number of itemsets for zimin 3 : 141
Number of itemsets for zimin 4 : 26
Number of itemsets for zimin 5 : 1
Number of itemsets for zimin 6 : 0
Number of itemsets for zimin 7 : 0
Number of itemsets for zimin 8 : 0
Number of itemsets for zimin 9 : 0
Number of itemsets for zimin 10 : 0
Number of itemsets for zimin 11 : 0
Number of itemsets for zimin 12 : 0
Number of itemsets for zimin 13 : 0
Number of itemsets for zimin 14 : 0
Number of itemsets for zimin 15 : 0
Number of itemsets for zimin 16 : 0
Number of itemsets for zimin 17 : 0
Number of itemsets for zimin 18 : 0
Number of itemsets for zimin 19 : 0
Number of itemsets for zimin 20 : 0
Number of itemsets for zimin 21 : 0
Number of itemsets for zimin 22 : 0
Number of itemsets for zimin 23 : 0

In [19]:
itemsets6 = apriori(baskets, supp=20, report ='s', target='c',zmin = 4)
print('Number of itemsets:', len(itemsets6))
itemsets6

Number of itemsets: 26

[(('Bachelor', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2072480181200453),
 (('2.0_Time', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.20385050962627407),
 (('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  0.24462061155152887),
 (('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  0.22989807474518686),
 (('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  0.22536806342015855),
 (('3_JIvol', 'Male', 'High_Overall', 'No_Attrition'), 0.2287655719139298),
 (('3_JIvol', 'Male', 'No_OverTime', 'No_Attrition'), 0.24575311438278596),
 (('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'), 0.21404303510758776),
 (('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.20838052095130238),
 (('3_JIvol', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  0.2740656851642129),
 (('3_JIvol', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.2638731596828992),
 (('3_JIvol', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.26727066817667045),
 (('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'), 0.2287655719139298),
 (('3_WLBalance', 'Male', 'No_OverTime', 'Travel_Rarely'), 0.2015855039637599),
 (('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'), 0.23556058890147225),
 (('3_WLBalance', 'Male', 'Travel_Rarely', 'No_Attrition'),
  0.22989807474518686),
 (('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.232163080407701),
 (('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  0.21630804077010193),
 (('3_WLBalance', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  0.2842582106455266),
 (('3_WLBalance', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.289920724801812),
 (('3_WLBalance', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.29784824462061155),
 (('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  0.20498301245753114),
 (('Male', 'High_Overall', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('High_Overall', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248)]

In [20]:
itemsets7 = apriori(baskets, supp=20, report ='s', target='c',zmin = 5)
print('Number of itemsets:', len(itemsets7))
itemsets7

Number of itemsets: 1

[(('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  0.21630804077010193)]

# Association Rule

Here we have a cycle for all the minimum number of rule, basys on the fact that we have 24 columns, with different value of  Confidance

In [21]:
y = range(24)
z = range(60,100,10)

for n in z:
    for m in y:
        rules = apriori(baskets, supp=20, zmin=m, target='r', conf=n, report='ascl')
        print('Number of rule with Confidance',n,'% and zmin',m,':', len(rules))

Number of rule with Confidance 60 % and zmin 0 : 1406
Number of rule with Confidance 60 % and zmin 1 : 1406
Number of rule with Confidance 60 % and zmin 2 : 1400
Number of rule with Confidance 60 % and zmin 3 : 1183
Number of rule with Confidance 60 % and zmin 4 : 504
Number of rule with Confidance 60 % and zmin 5 : 68
Number of rule with Confidance 60 % and zmin 6 : 1
Number of rule with Confidance 60 % and zmin 7 : 0
Number of rule with Confidance 60 % and zmin 8 : 0
Number of rule with Confidance 60 % and zmin 9 : 0
Number of rule with Confidance 60 % and zmin 10 : 0
Number of rule with Confidance 60 % and zmin 11 : 0
Number of rule with Confidance 60 % and zmin 12 : 0
Number of rule with Confidance 60 % and zmin 13 : 0
Number of rule with Confidance 60 % and zmin 14 : 0
Number of rule with Confidance 60 % and zmin 15 : 0
Number of rule with Confidance 60 % and zmin 16 : 0
Number of rule with Confidance 60 % and zmin 17 : 0
Number of rule with Confidance 60 % and zmin 18 : 0
Number of rule with Confidance 60 % and zmin 19 : 0
Number of rule with Confidance 60 % and zmin 20 : 0
Number of rule with Confidance 60 % and zmin 21 : 0
Number of rule with Confidance 60 % and zmin 22 : 0
Number of rule with Confidance 60 % and zmin 23 : 0
Number of rule with Confidance 70 % and zmin 0 : 722
Number of rule with Confidance 70 % and zmin 1 : 722
Number of rule with Confidance 70 % and zmin 2 : 719
Number of rule with Confidance 70 % and zmin 3 : 602
Number of rule with Confidance 70 % and zmin 4 : 235
Number of rule with Confidance 70 % and zmin 5 : 28
Number of rule with Confidance 70 % and zmin 6 : 0
Number of rule with Confidance 70 % and zmin 7 : 0
Number of rule with Confidance 70 % and zmin 8 : 0
Number of rule with Confidance 70 % and zmin 9 : 0
Number of rule with Confidance 70 % and zmin 10 : 0
Number of rule with Confidance 70 % and zmin 11 : 0
Number of rule with Confidance 70 % and zmin 12 : 0
Number of rule with Confidance 70 % and zmin 13 : 0
Number of rule with Confidance 70 % and zmin 14 : 0
Number of rule with Confidance 70 % and zmin 15 : 0
Number of rule with Confidance 70 % and zmin 16 : 0
Number of rule with Confidance 70 % and zmin 17 : 0
Number of rule with Confidance 70 % and zmin 18 : 0
Number of rule with Confidance 70 % and zmin 19 : 0
Number of rule with Confidance 70 % and zmin 20 : 0
Number of rule with Confidance 70 % and zmin 21 : 0
Number of rule with Confidance 70 % and zmin 22 : 0
Number of rule with Confidance 70 % and zmin 23 : 0
Number of rule with Confidance 80 % and zmin 0 : 194
Number of rule with Confidance 80 % and zmin 1 : 194
Number of rule with Confidance 80 % and zmin 2 : 193
Number of rule with Confidance 80 % and zmin 3 : 157
Number of rule with Confidance 80 % and zmin 4 : 51
Number of rule with Confidance 80 % and zmin 5 : 4
Number of rule with Confidance 80 % and zmin 6 : 0
Number of rule with Confidance 80 % and zmin 7 : 0
Number of rule with Confidance 80 % and zmin 8 : 0
Number of rule with Confidance 80 % and zmin 9 : 0
Number of rule with Confidance 80 % and zmin 10 : 0
Number of rule with Confidance 80 % and zmin 11 : 0
Number of rule with Confidance 80 % and zmin 12 : 0
Number of rule with Confidance 80 % and zmin 13 : 0
Number of rule with Confidance 80 % and zmin 14 : 0
Number of rule with Confidance 80 % and zmin 15 : 0
Number of rule with Confidance 80 % and zmin 16 : 0
Number of rule with Confidance 80 % and zmin 17 : 0
Number of rule with Confidance 80 % and zmin 18 : 0
Number of rule with Confidance 80 % and zmin 19 : 0
Number of rule with Confidance 80 % and zmin 20 : 0
Number of rule with Confidance 80 % and zmin 21 : 0
Number of rule with Confidance 80 % and zmin 22 : 0
Number of rule with Confidance 80 % and zmin 23 : 0
Number of rule with Confidance 90 % and zmin 0 : 33
Number of rule with Confidance 90 % and zmin 1 : 33
Number of rule with Confidance 90 % and zmin 2 : 33
Number of rule with Confidance 90 % and zmin 3 : 32
Number of rule with Confidance 90 % and zmin 4 : 13
Number of rule with Confidance 90 % and zmin 5 : 3
Number of rule with Confidance 90 % and zmin 6 : 0
Number of rule with Confidance 90 % and zmin 7 : 0
Number of rule with Confidance 90 % and zmin 8 : 0
Number of rule with Confidance 90 % and zmin 9 : 0
Number of rule with Confidance 90 % and zmin 10 : 0
Number of rule with Confidance 90 % and zmin 11 : 0
Number of rule with Confidance 90 % and zmin 12 : 0
Number of rule with Confidance 90 % and zmin 13 : 0
Number of rule with Confidance 90 % and zmin 14 : 0
Number of rule with Confidance 90 % and zmin 15 : 0
Number of rule with Confidance 90 % and zmin 16 : 0
Number of rule with Confidance 90 % and zmin 17 : 0
Number of rule with Confidance 90 % and zmin 18 : 0
Number of rule with Confidance 90 % and zmin 19 : 0
Number of rule with Confidance 90 % and zmin 20 : 0
Number of rule with Confidance 90 % and zmin 21 : 0
Number of rule with Confidance 90 % and zmin 22 : 0
Number of rule with Confidance 90 % and zmin 23 : 0

Decido di stampare le piÃ¹ significatve

Confidance 60%

In [22]:
#confidance 60% e zmin = 5
rules = apriori(baskets, supp=20, zmin=5, target='r', conf=60, 
                report='ascl') 
print('Number of rule:', len(rules))
set(rules)

Number of rule: 68

{('3_JIvol',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  155,
  0.1755379388448471,
  0.6175298804780877,
  1.0649978212151394),
 ('3_JIvol',
  ('3_WLBalance', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.62109375,
  1.0711441040039062),
 ('3_JIvol',
  ('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'),
  133,
  0.1506228765571914,
  0.6584158415841584,
  1.1355101330445545),
 ('3_JIvol',
  ('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'),
  131,
  0.14835787089467722,
  0.6298076923076923,
  1.0861722506009615),
 ('3_JIvol',
  ('High_Overall', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  171,
  0.19365798414496035,
  0.6129032258064516,
  1.0570186491935485),
 ('3_JIvol',
  ('Male', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  152,
  0.17214043035107587,
  0.6755555555555556,
  1.1650694444444445),
 ('3_JIvol',
  ('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  112,
  0.12684031710079274,
  0.6187845303867403,
  1.0671616022099448),
 ('3_JIvol',
  ('Male', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  141,
  0.159682899207248,
  0.6294642857142857,
  1.0855800083705358),
 ('3_WLBalance',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  155,
  0.1755379388448471,
  0.640495867768595,
  1.0571174789526532),
 ('3_WLBalance',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  121,
  0.13703284258210646,
  0.657608695652174,
  1.085361641609102),
 ('3_WLBalance',
  ('3_JIvol', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.6824034334763949,
  1.1262845453451527),
 ('3_WLBalance',
  ('3_JIvol', 'Male', 'High_Overall', 'No_Attrition'),
  133,
  0.1506228765571914,
  0.6584158415841584,
  1.0866938095678726),
 ('3_WLBalance',
  ('3_JIvol', 'Male', 'No_OverTime', 'No_Attrition'),
  131,
  0.14835787089467722,
  0.6036866359447005,
  0.9963650458676084),
 ('3_WLBalance',
  ('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'),
  121,
  0.13703284258210646,
  0.6402116402116402,
  1.0566483706670622),
 ('3_WLBalance',
  ('3_JIvol', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  150,
  0.16987542468856173,
  0.635593220338983,
  1.0490258197370506),
 ('3_WLBalance',
  ('Bachelor', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  115,
  0.13023782559456398,
  0.6284153005464481,
  1.0371788979112404),
 ('3_WLBalance',
  ('High_Overall', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  191,
  0.21630804077010193,
  0.6845878136200717,
  1.1298897933206042),
 ('3_WLBalance',
  ('Male', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.6577777777777778,
  1.0856407061266875),
 ('3_WLBalance',
  ('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  124,
  0.1404303510758777,
  0.6850828729281768,
  1.130706872515103),
 ('3_WLBalance',
  ('Male', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  153,
  0.17327293318233294,
  0.6830357142857143,
  1.1273281041388519),
 ('3_WLBalance',
  ('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.6299212598425197,
  1.0396644344690558),
 ('High_Overall',
  ('2.0_Time', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  123,
  0.1392978482446206,
  0.6833333333333333,
  1.0279102782509937),
 ('High_Overall',
  ('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  155,
  0.1755379388448471,
  0.7635467980295566,
  1.1485720999320248),
 ('High_Overall',
  ('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.7989949748743719,
  1.201895336991602),
 ('High_Overall',
  ('3_JIvol', 'Male', 'No_OverTime', 'No_Attrition'),
  152,
  0.17214043035107587,
  0.7004608294930875,
  1.053674467533895),
 ('High_Overall',
  ('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'),
  141,
  0.159682899207248,
  0.746031746031746,
  1.1222249263135124),
 ('High_Overall',
  ('3_JIvol', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  171,
  0.19365798414496035,
  0.7245762711864406,
  1.0899503363843732),
 ('High_Overall',
  ('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.7115384615384616,
  1.0703380946140741),
 ('High_Overall',
  ('3_WLBalance', 'Male', 'No_OverTime', 'Travel_Rarely'),
  124,
  0.1404303510758777,
  0.6966292134831461,
  1.0479107248818023),
 ('High_Overall',
  ('3_WLBalance', 'Male', 'Travel_Rarely', 'No_Attrition'),
  153,
  0.17327293318233294,
  0.7536945812807881,
  1.1337518147716115),
 ('High_Overall',
  ('3_WLBalance', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  191,
  0.21630804077010193,
  0.7262357414448669,
  1.0924466093625511),
 ('High_Overall',
  ('Bachelor', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  124,
  0.1404303510758777,
  0.6775956284153005,
  1.0192792843112612),
 ('High_Overall',
  ('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.6614173228346457,
  0.9949429234463238),
 ('Male',
  ('2.0_Time', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  115,
  0.13023782559456398,
  0.6388888888888888,
  1.044701646090535),
 ('Male',
  ('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  133,
  0.1506228765571914,
  0.6157407407407407,
  1.0068501371742113),
 ('Male',
  ('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  131,
  0.14835787089467722,
  0.645320197044335,
  1.055218025907681),
 ('Male',
  ('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  121,
  0.13703284258210646,
  0.6080402010050251,
  0.9942583286804393),
 ('Male',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  152,
  0.17214043035107587,
  0.628099173553719,
  1.0270584634220998),
 ('Male',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  112,
  0.12684031710079274,
  0.6086956521739131,
  0.995330112721417),
 ('Male',
  ('3_JIvol', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  141,
  0.159682899207248,
  0.6051502145922747,
  0.9895326657129232),
 ('Male',
  ('3_JIvol', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.6271186440677966,
  1.0254551161330823),
 ('Male',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  124,
  0.1404303510758777,
  0.6048780487804878,
  0.9890876242095754),
 ('Male',
  ('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  116,
  0.13137032842582105,
  0.6073298429319371,
  0.9930967616831491),
 ('Male',
  ('3_WLBalance', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.6083650190114068,
  0.994789466272356),
 ('Male',
  ('Bachelor', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  114,
  0.1291053227633069,
  0.6229508196721312,
  1.0186399514268367),
 ('Male',
  ('High_Overall', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.6021505376344086,
  0.9846276383910793),
 ('No_Attrition',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  171,
  0.19365798414496035,
  0.9293478260869565,
  1.1241289458010721),
 ('No_Attrition',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  191,
  0.21630804077010193,
  0.9317073170731708,
  1.1269829602405612),
 ('No_Attrition',
  ('3_WLBalance', 'Male', 'No_OverTime', 'Travel_Rarely'),
  160,
  0.1812004530011325,
  0.898876404494382,
  1.0872710481760812),
 ('No_Attrition',
  ('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  168,
  0.19026047565118911,
  0.9281767955801105,
  1.1227124801332022),
 ('No_OverTime',
  ('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  155,
  0.1755379388448471,
  0.7175925925925926,
  0.9931571461743876),
 ('No_OverTime',
  ('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  150,
  0.16987542468856173,
  0.7537688442211056,
  1.0432255320489596),
 ('No_OverTime',
  ('3_JIvol', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  171,
  0.19365798414496035,
  0.7339055793991416,
  1.0157345244662102),
 ('No_OverTime',
  ('3_JIvol', 'Male', 'High_Overall', 'No_Attrition'),
  152,
  0.17214043035107587,
  0.7524752475247525,
  1.0414351780005586),
 ('No_OverTime',
  ('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.783068783068783,
  1.0837770148114976),
 ('No_OverTime',
  ('3_WLBalance', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  191,
  0.21630804077010193,
  0.74609375,
  1.0326031054075235),
 ('No_OverTime',
  ('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.7326732673267327,
  1.0140289891058072),
 ('No_OverTime',
  ('3_WLBalance', 'Male', 'Travel_Rarely', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.7881773399014779,
  1.090847321525086),
 ('No_OverTime',
  ('Male', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.75,
  1.0380094043887147),
 ('Travel_Rarely',
  ('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.7361111111111112,
  1.003064986282579),
 ('Travel_Rarely',
  ('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  150,
  0.16987542468856173,
  0.7389162561576355,
  1.0068874293012224),
 ('Travel_Rarely',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  171,
  0.19365798414496035,
  0.7066115702479339,
  0.9628673094582185),
 ('Travel_Rarely',
  ('3_JIvol', 'Male', 'High_Overall', 'No_Attrition'),
  141,
  0.159682899207248,
  0.698019801980198,
  0.9511596993032636),
 ('Travel_Rarely',
  ('3_JIvol', 'Male', 'No_OverTime', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.6820276497695853,
  0.9293679239915799),
 ('Travel_Rarely',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  191,
  0.21630804077010193,
  0.7609561752988048,
  1.0369202203531553),
 ('Travel_Rarely',
  ('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'),
  153,
  0.17327293318233294,
  0.7574257425742574,
  1.0321094609460946),
 ('Travel_Rarely',
  ('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.7692307692307693,
  1.0481956315289649),
 ('Travel_Rarely',
  ('Male', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.7466666666666667,
  1.0174485596707818)}

In [23]:
#confidance 60% e zmin = 6
rules1 = apriori(baskets, supp=20, zmin=6, target='r', conf=60, 
                report='ascl') 
print('Number of rule:', len(rules1))
set(rules1)

Number of rule: 1

{('Male',
  ('3_WLBalance',
   'High_Overall',
   'No_OverTime',
   'Travel_Rarely',
   'No_Attrition'),
  116,
  0.13137032842582105,
  0.6073298429319371,
  0.9930967616831491)}

Confidance 70%

In [24]:
#confidance 70% e zmin = 5
rules2 = apriori(baskets, supp=20, zmin=5, target='r', conf=70, 
                report='ascl') 
print('Number of rule:', len(rules2))
set(rules2)

Number of rule: 28

{('High_Overall',
  ('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  155,
  0.1755379388448471,
  0.7635467980295566,
  1.1485720999320248),
 ('High_Overall',
  ('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.7989949748743719,
  1.201895336991602),
 ('High_Overall',
  ('3_JIvol', 'Male', 'No_OverTime', 'No_Attrition'),
  152,
  0.17214043035107587,
  0.7004608294930875,
  1.053674467533895),
 ('High_Overall',
  ('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'),
  141,
  0.159682899207248,
  0.746031746031746,
  1.1222249263135124),
 ('High_Overall',
  ('3_JIvol', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  171,
  0.19365798414496035,
  0.7245762711864406,
  1.0899503363843732),
 ('High_Overall',
  ('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.7115384615384616,
  1.0703380946140741),
 ('High_Overall',
  ('3_WLBalance', 'Male', 'Travel_Rarely', 'No_Attrition'),
  153,
  0.17327293318233294,
  0.7536945812807881,
  1.1337518147716115),
 ('High_Overall',
  ('3_WLBalance', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  191,
  0.21630804077010193,
  0.7262357414448669,
  1.0924466093625511),
 ('No_Attrition',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  171,
  0.19365798414496035,
  0.9293478260869565,
  1.1241289458010721),
 ('No_Attrition',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  191,
  0.21630804077010193,
  0.9317073170731708,
  1.1269829602405612),
 ('No_Attrition',
  ('3_WLBalance', 'Male', 'No_OverTime', 'Travel_Rarely'),
  160,
  0.1812004530011325,
  0.898876404494382,
  1.0872710481760812),
 ('No_Attrition',
  ('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  168,
  0.19026047565118911,
  0.9281767955801105,
  1.1227124801332022),
 ('No_OverTime',
  ('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  155,
  0.1755379388448471,
  0.7175925925925926,
  0.9931571461743876),
 ('No_OverTime',
  ('3_JIvol', '3_WLBalance', 'Travel_Rarely', 'No_Attrition'),
  150,
  0.16987542468856173,
  0.7537688442211056,
  1.0432255320489596),
 ('No_OverTime',
  ('3_JIvol', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  171,
  0.19365798414496035,
  0.7339055793991416,
  1.0157345244662102),
 ('No_OverTime',
  ('3_JIvol', 'Male', 'High_Overall', 'No_Attrition'),
  152,
  0.17214043035107587,
  0.7524752475247525,
  1.0414351780005586),
 ('No_OverTime',
  ('3_JIvol', 'Male', 'Travel_Rarely', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.783068783068783,
  1.0837770148114976),
 ('No_OverTime',
  ('3_WLBalance', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  191,
  0.21630804077010193,
  0.74609375,
  1.0326031054075235),
 ('No_OverTime',
  ('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'),
  148,
  0.16761041902604756,
  0.7326732673267327,
  1.0140289891058072),
 ('No_OverTime',
  ('3_WLBalance', 'Male', 'Travel_Rarely', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.7881773399014779,
  1.090847321525086),
 ('No_OverTime',
  ('Male', 'High_Overall', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.75,
  1.0380094043887147),
 ('Travel_Rarely',
  ('3_JIvol', '3_WLBalance', 'High_Overall', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.7361111111111112,
  1.003064986282579),
 ('Travel_Rarely',
  ('3_JIvol', '3_WLBalance', 'No_OverTime', 'No_Attrition'),
  150,
  0.16987542468856173,
  0.7389162561576355,
  1.0068874293012224),
 ('Travel_Rarely',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  171,
  0.19365798414496035,
  0.7066115702479339,
  0.9628673094582185),
 ('Travel_Rarely',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  191,
  0.21630804077010193,
  0.7609561752988048,
  1.0369202203531553),
 ('Travel_Rarely',
  ('3_WLBalance', 'Male', 'High_Overall', 'No_Attrition'),
  153,
  0.17327293318233294,
  0.7574257425742574,
  1.0321094609460946),
 ('Travel_Rarely',
  ('3_WLBalance', 'Male', 'No_OverTime', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.7692307692307693,
  1.0481956315289649),
 ('Travel_Rarely',
  ('Male', 'High_Overall', 'No_OverTime', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.7466666666666667,
  1.0174485596707818)}

Confidance 80%

In [25]:
#confidance 80% e zmin = 5
rules3 = apriori(baskets, supp=20, zmin=5, target='r', conf=80, 
                report='ascl') 
print('Number of rule:', len(rules3))
set(rules3)

Number of rule: 4

{('No_Attrition',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  171,
  0.19365798414496035,
  0.9293478260869565,
  1.1241289458010721),
 ('No_Attrition',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  191,
  0.21630804077010193,
  0.9317073170731708,
  1.1269829602405612),
 ('No_Attrition',
  ('3_WLBalance', 'Male', 'No_OverTime', 'Travel_Rarely'),
  160,
  0.1812004530011325,
  0.898876404494382,
  1.0872710481760812),
 ('No_Attrition',
  ('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  168,
  0.19026047565118911,
  0.9281767955801105,
  1.1227124801332022)}

Confidance 90%

In [26]:
#confidance 90% e zmin = 4
rules4 = apriori(baskets, supp=20, zmin=4, target='r', conf=90, 
                report='ascl') 
print('Number of rule:', len(rules4))
set(rules4)

Number of rule: 13

{('No_Attrition',
  ('1_stockOption', 'No_OverTime', 'Travel_Rarely'),
  172,
  0.19479048697621745,
  0.9398907103825137,
  1.13688150310652),
 ('No_Attrition',
  ('3_JIvol', '3_WLBalance', 'High_Overall'),
  216,
  0.24462061155152887,
  0.907563025210084,
  1.0977782893979509),
 ('No_Attrition',
  ('3_JIvol', '3_WLBalance', 'No_OverTime'),
  203,
  0.22989807474518686,
  0.90625,
  1.0961900684931507),
 ('No_Attrition',
  ('3_JIvol', 'High_Overall', 'No_OverTime'),
  242,
  0.2740656851642129,
  0.9307692307692308,
  1.1258482613277134),
 ('No_Attrition',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  171,
  0.19365798414496035,
  0.9293478260869565,
  1.1241289458010721),
 ('No_Attrition',
  ('3_WLBalance', 'High_Overall', 'No_OverTime'),
  251,
  0.2842582106455266,
  0.9261992619926199,
  1.1203204771773745),
 ('No_Attrition',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  191,
  0.21630804077010193,
  0.9317073170731708,
  1.1269829602405612),
 ('No_Attrition',
  ('3_WLBalance', 'Male', 'No_OverTime'),
  208,
  0.23556058890147225,
  0.9004329004329005,
  1.0891537686058235),
 ('No_Attrition',
  ('3_WLBalance', 'No_OverTime', 'Travel_Rarely'),
  263,
  0.29784824462061155,
  0.9006849315068494,
  1.0894586226308876),
 ('No_Attrition',
  ('Female', 'No_OverTime', 'Travel_Rarely'),
  160,
  0.1812004530011325,
  0.903954802259887,
  1.093413822459562),
 ('No_Attrition',
  ('High_Overall', 'No_OverTime', 'Travel_Rarely'),
  279,
  0.3159682899207248,
  0.9207920792079208,
  1.1137800081378),
 ('No_Attrition',
  ('Male', 'High_Overall', 'No_OverTime'),
  225,
  0.2548131370328426,
  0.9183673469387755,
  1.1108470785574505),
 ('No_Attrition',
  ('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  168,
  0.19026047565118911,
  0.9281767955801105,
  1.1227124801332022)}

In [27]:
#confidance 90% e zmin = 5
rules5 = apriori(baskets, supp=20, zmin=5, target='r', conf=90, 
                report='ascl') 
print('Number of rule:', len(rules5))
set(rules5)

Number of rule: 3

{('No_Attrition',
  ('3_JIvol', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  171,
  0.19365798414496035,
  0.9293478260869565,
  1.1241289458010721),
 ('No_Attrition',
  ('3_WLBalance', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  191,
  0.21630804077010193,
  0.9317073170731708,
  1.1269829602405612),
 ('No_Attrition',
  ('Male', 'High_Overall', 'No_OverTime', 'Travel_Rarely'),
  168,
  0.19026047565118911,
  0.9281767955801105,
  1.1227124801332022)}