# ASSOCIATION RULES
Express how product/services relate to each other, and tend to group together.

Library import

In [1]:
#vanno importate pandas e numpy e matplot per fare i grafici
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split  
from pandas import DataFrame

In [2]:
df = pd.read_csv(r'C:\Users\jigok\OneDrive\Desktop\UniPISA\1semestre1Anno\Data Mining\Progetto\Dataset AR\All_values_Train_HR_Employee_Attrition.csv')

In [3]:
df.head(5) #fammi vedere le prime 10 righe

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,Gender,JobLevel,JobRole,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,MonthlyHours,TaxRate,OverallSatisfaction
0,52.0,No,Travel_Rarely,9,4,Male,3,Research Director,8446.0,9,No,17,0,2.0,8.0,7,156.613636,0.387172,2.6
1,36.0,No,Travel_Rarely,1,1,Male,5,Manager,4834.0,1,Yes,14,1,3.0,1.0,8,157.942308,0.411421,2.8
2,25.0,No,Travel_Frequently,16,3,Male,2,Sales Executive,4768.0,1,Yes,25,1,4.0,1.0,5,448.055556,0.704402,3.2
3,33.0,No,Travel_Rarely,5,4,Male,1,Research Scientist,2799.0,2,No,14,0,1.0,3.0,7,271.907692,0.841632,2.4
4,31.0,No,Travel_Rarely,9,2,Female,1,Laboratory Technician,6319.0,1,No,12,0,2.0,10.0,2,106.373333,0.207947,3.2

In [4]:
#discretizzo OverallSatisfaction
def labels(x):
    if  1.0 <= x <= 1.5:
        return(1)
    elif 1.6 <= x <= 2.5:
        return(2)
    elif 2.6 <= x <= 3.5:
        return(3)
    elif 3.6 <= x <= 4.5:
        return(4)
    else:
        return(4)

df['OverallSatisfaction'] = df['OverallSatisfaction'].apply(lambda x: labels(x))
#arrotondo le medie
df.head(5)

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,Gender,JobLevel,JobRole,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,MonthlyHours,TaxRate,OverallSatisfaction
0,52.0,No,Travel_Rarely,9,4,Male,3,Research Director,8446.0,9,No,17,0,2.0,8.0,7,156.613636,0.387172,3
1,36.0,No,Travel_Rarely,1,1,Male,5,Manager,4834.0,1,Yes,14,1,3.0,1.0,8,157.942308,0.411421,3
2,25.0,No,Travel_Frequently,16,3,Male,2,Sales Executive,4768.0,1,Yes,25,1,4.0,1.0,5,448.055556,0.704402,3
3,33.0,No,Travel_Rarely,5,4,Male,1,Research Scientist,2799.0,2,No,14,0,1.0,3.0,7,271.907692,0.841632,2
4,31.0,No,Travel_Rarely,9,2,Female,1,Laboratory Technician,6319.0,1,No,12,0,2.0,10.0,2,106.373333,0.207947,3

In [5]:
df.describe()

,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,MonthlyHours,TaxRate,OverallSatisfaction
count,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000,883.000000
mean,36.554926,9.201586,2.886750,1.919592,6932.335221,2.836920,15.207248,0.793884,2.665912,6.326161,3.919592,234.245826,0.463811,2.725934
std,8.266129,8.241818,1.008285,1.007506,5453.370217,2.484993,3.589332,0.865362,1.187828,4.523567,3.435392,130.196628,0.320030,0.523459
min,18.000000,1.000000,1.000000,1.000000,1009.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,26.043478,0.000000,1.000000
25%,30.000000,2.000000,2.000000,1.000000,3072.000000,1.000000,12.000000,0.000000,2.000000,3.000000,2.000000,130.630208,0.129730,2.000000
50%,35.000000,7.000000,3.000000,2.000000,5079.000000,2.000000,14.000000,1.000000,2.000000,5.000000,3.000000,212.279070,0.528359,3.000000
75%,42.000000,14.000000,4.000000,2.000000,8840.500000,4.000000,18.000000,1.000000,3.000000,9.000000,7.000000,309.906250,0.762560,3.000000
max,60.000000,29.000000,5.000000,5.000000,26997.000000,9.000000,25.000000,3.000000,6.000000,20.000000,16.000000,590.976744,0.951396,4.000000

In [6]:
#numero bin con la distribuzione istogrammi variabili
#Apply binning to continuous features

df['AgeBin'] = pd.cut(df['Age'].astype(int), 6, right=False)
df['DistanceFromHomeBin'] = pd.cut(df['DistanceFromHome'].astype(int), 10, right=False)
df['PercentSalaryHikeBin'] = pd.cut(df['PercentSalaryHike'].astype(int), 5, right=False)
df['MonthlyIncomeBin'] = pd.cut(df['MonthlyIncome'].astype(int), 10, right=False)
df['MonthlyHoursBin'] = pd.cut(df['MonthlyHours'].astype(int), 10, right=False)



df.drop(['Age', 'MonthlyIncome', 'MonthlyHours','DistanceFromHome','PercentSalaryHike'], axis=1, inplace=True)

df.head()

,Attrition,BusinessTravel,Education,Gender,JobLevel,JobRole,NumCompaniesWorked,OverTime,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,TaxRate,OverallSatisfaction,AgeBin,DistanceFromHomeBin,PercentSalaryHikeBin,MonthlyIncomeBin,MonthlyHoursBin
0,No,Travel_Rarely,4,Male,3,Research Director,9,No,0,2.0,8.0,7,0.387172,3,"[46.0, 53.0)","[6.6, 9.4)","[16.6, 19.4)","[6206.6, 8805.4)","[138.8, 195.2)"
1,No,Travel_Rarely,1,Male,5,Manager,1,Yes,1,3.0,1.0,8,0.411421,3,"[32.0, 39.0)","[1.0, 3.8)","[13.8, 16.6)","[3607.8, 6206.6)","[138.8, 195.2)"
2,No,Travel_Frequently,3,Male,2,Sales Executive,1,Yes,1,4.0,1.0,5,0.704402,3,"[25.0, 32.0)","[15.0, 17.8)","[22.2, 25.014)","[3607.8, 6206.6)","[420.8, 477.2)"
3,No,Travel_Rarely,4,Male,1,Research Scientist,2,No,0,1.0,3.0,7,0.841632,2,"[32.0, 39.0)","[3.8, 6.6)","[13.8, 16.6)","[1009.0, 3607.8)","[251.6, 308.0)"
4,No,Travel_Rarely,2,Female,1,Laboratory Technician,1,No,0,2.0,10.0,2,0.207947,3,"[25.0, 32.0)","[6.6, 9.4)","[11.0, 13.8)","[6206.6, 8805.4)","[82.4, 138.8)"

Mapping

In [7]:
df['Education'] = df['Education'].map(
    {1: 'Below College', 2: 'College', 3:'Bachelor', 4:'Master', 5:'Doctor'}).astype(str)
df['OverallSatisfaction'] = df['OverallSatisfaction'].map(
    {1: 'Low', 2: 'Medium', 3:'High', 4:'Very High'}).astype(str)
df['JobLevel'] = df['JobLevel'].map(
    {1: 'EntryLevel', 2: 'MidLevel', 3:'SeniorLevel', 4:'Manager', 5:'Director'}).astype(str)


df['AgeBin'] = df['AgeBin'].astype(str) + '_Age'
df['MonthlyIncomeBin'] = df['MonthlyIncomeBin'].astype(str) + '_Income'
df['MonthlyHoursBin'] = df['MonthlyHoursBin'].astype(str) + '_Hours'
df['DistanceFromHomeBin'] = df['DistanceFromHomeBin'].astype(str) + '_Distance'
df['YearsAtCompany'] = df['YearsAtCompany'].astype(str) + '_YearsAtCompany'
df['PercentSalaryHikeBin'] = df['PercentSalaryHikeBin'].astype(str) + '_%'

df['NumCompaniesWorked'] = df['NumCompaniesWorked'].astype(str) + '_companies'
df['StockOptionLevel'] = df['StockOptionLevel'].astype(str) + '_stockOption'
df['TrainingTimesLastYear'] = df['TrainingTimesLastYear'].astype(str) + '_Time'
df['YearsInCurrentRole'] = df['YearsInCurrentRole'].astype(str) + '_YearsInCurrentRole'
df['TaxRate'] = df['TaxRate'].astype(str) + '_TaxRate'
df['OverTime'] = df['OverTime'].astype(str) + '_OverTime'
df['Attrition'] = df['Attrition'].astype(str) + '_Attrition'


df.head(10)

,Attrition,BusinessTravel,Education,Gender,JobLevel,JobRole,NumCompaniesWorked,OverTime,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,TaxRate,OverallSatisfaction,AgeBin,DistanceFromHomeBin,PercentSalaryHikeBin,MonthlyIncomeBin,MonthlyHoursBin
0,No_Attrition,Travel_Rarely,Master,Male,SeniorLevel,Research Director,9_companies,No_OverTime,0_stockOption,2.0_Time,8.0_YearsAtCompany,7_YearsInCurrentRole,0.3871716731969235_TaxRate,High,"[46.0, 53.0)_Age","[6.6, 9.4)_Distance","[16.6, 19.4)_%","[6206.6, 8805.4)_Income","[138.8, 195.2)_Hours"
1,No_Attrition,Travel_Rarely,Below College,Male,Director,Manager,1_companies,Yes_OverTime,1_stockOption,3.0_Time,1.0_YearsAtCompany,8_YearsInCurrentRole,0.4114209180567393_TaxRate,High,"[32.0, 39.0)_Age","[1.0, 3.8)_Distance","[13.8, 16.6)_%","[3607.8, 6206.6)_Income","[138.8, 195.2)_Hours"
2,No_Attrition,Travel_Frequently,Bachelor,Male,MidLevel,Sales Executive,1_companies,Yes_OverTime,1_stockOption,4.0_Time,1.0_YearsAtCompany,5_YearsInCurrentRole,0.7044017358958462_TaxRate,High,"[25.0, 32.0)_Age","[15.0, 17.8)_Distance","[22.2, 25.014)_%","[3607.8, 6206.6)_Income","[420.8, 477.2)_Hours"
3,No_Attrition,Travel_Rarely,Master,Male,EntryLevel,Research Scientist,2_companies,No_OverTime,0_stockOption,1.0_Time,3.0_YearsAtCompany,7_YearsInCurrentRole,0.8416317754894195_TaxRate,Medium,"[32.0, 39.0)_Age","[3.8, 6.6)_Distance","[13.8, 16.6)_%","[1009.0, 3607.8)_Income","[251.6, 308.0)_Hours"
4,No_Attrition,Travel_Rarely,College,Female,EntryLevel,Laboratory Technician,1_companies,No_OverTime,0_stockOption,2.0_Time,10.0_YearsAtCompany,2_YearsInCurrentRole,0.20794685384808226_TaxRate,High,"[25.0, 32.0)_Age","[6.6, 9.4)_Distance","[11.0, 13.8)_%","[6206.6, 8805.4)_Income","[82.4, 138.8)_Hours"
5,No_Attrition,Travel_Rarely,Bachelor,Male,EntryLevel,Research Scientist,1_companies,No_OverTime,3_stockOption,2.0_Time,1.0_YearsAtCompany,2_YearsInCurrentRole,0.8559182118364237_TaxRate,Very High,"[32.0, 39.0)_Age","[6.6, 9.4)_Distance","[11.0, 13.8)_%","[1009.0, 3607.8)_Income","[251.6, 308.0)_Hours"
6,No_Attrition,Travel_Rarely,College,Male,EntryLevel,Sales Representative,2_companies,No_OverTime,1_stockOption,0.0_Time,9.0_YearsAtCompany,3_YearsInCurrentRole,0.5842782277274893_TaxRate,Medium,"[25.0, 32.0)_Age","[3.8, 6.6)_Distance","[11.0, 13.8)_%","[6206.6, 8805.4)_Income","[364.4, 420.8)_Hours"
7,No_Attrition,Travel_Frequently,Below College,Male,MidLevel,Sales Executive,1_companies,Yes_OverTime,2_stockOption,2.0_Time,1.0_YearsAtCompany,5_YearsInCurrentRole,0.892640796497331_TaxRate,High,"[18.0, 25.0)_Age","[1.0, 3.8)_Distance","[19.4, 22.2)_%","[1009.0, 3607.8)_Income","[195.2, 251.6)_Hours"
8,No_Attrition,Travel_Rarely,College,Male,MidLevel,Research Scientist,3_companies,Yes_OverTime,0_stockOption,2.0_Time,3.0_YearsAtCompany,2_YearsInCurrentRole,0.8533628779979145_TaxRate,High,"[39.0, 46.0)_Age","[15.0, 17.8)_Distance","[11.0, 13.8)_%","[1009.0, 3607.8)_Income","[251.6, 308.0)_Hours"
9,No_Attrition,Travel_Rarely,Bachelor,Male,MidLevel,Manufacturing Director,1_companies,No_OverTime,1_stockOption,5.0_Time,1.0_YearsAtCompany,8_YearsInCurrentRole,0.7721497543621887_TaxRate,High,"[32.0, 39.0)_Age","[26.2, 29.028)_Distance","[11.0, 13.8)_%","[1009.0, 3607.8)_Income","[82.4, 138.8)_Hours"

# Creo i baskets

In [8]:
baskets = df.values.tolist()

In [9]:
baskets[0]

['No_Attrition',
 'Travel_Rarely',
 'Master',
 'Male',
 'SeniorLevel',
 'Research Director',
 '9_companies',
 'No_OverTime',
 '0_stockOption',
 '2.0_Time',
 '8.0_YearsAtCompany',
 '7_YearsInCurrentRole',
 '0.3871716731969235_TaxRate',
 'High',
 '[46.0, 53.0)_Age',
 '[6.6, 9.4)_Distance',
 '[16.6, 19.4)_%',
 '[6206.6, 8805.4)_Income',
 '[138.8, 195.2)_Hours']

# Apriori Algorithm

In [10]:
from fim import apriori

In [11]:
help(apriori)

Help on built-in function apriori in module fim:

apriori(...)
    apriori (tracts, target='s', supp=10, zmin=1, zmax=None, report='a',
             eval='x', agg='x', thresh=10, prune=None, algo='b', mode='',
             border=None)
    Find frequent item sets with the Apriori algorithm.
    tracts  transaction database to mine (mandatory)
            The database must be an iterable of transactions;
            each transaction must be an iterable of items;
            each item must be a hashable object.
            If the database is a dictionary, the transactions are
            the keys, the values their (integer) multiplicities.
    target  type of frequent item sets to find     (default: s)
            s/a   sets/all   all     frequent item sets
            c     closed     closed  frequent item sets
            m     maximal    maximal frequent item sets
            g     gens       generators
            r     rules      association rules
    supp    minimum support of an item set         (default: 10)
            (positive: percentage, negative: absolute number)
    conf    minimum confidence of an assoc. rule   (default: 80%)
    zmin    minimum number of items per item set   (default: 1)
    zmax    maximum number of items per item set   (default: no limit)
    report  values to report with an item set      (default: a)
            a     absolute item set support (number of transactions)
            s     relative item set support as a fraction
            S     relative item set support as a percentage
            e     value of item set evaluation measure
            E     value of item set evaluation measure as a percentage
            (     combine values in a tuple (must be first character)
            [     combine values in a list  (must be first character)
            #     pattern spectrum as a dictionary  (no patterns)
            =     pattern spectrum as a list        (no patterns)
            |     pattern spectrum as three columns (no patterns)
            for target 'r' (association rules) also available:
            b     absolute body set  support (number of transactions)
            x     relative body set  support as a fraction
            X     relative body set  support as a percentage
            h     absolute head item support (number of transactions)
            y     relative head item support as a fraction
            Y     relative head item support as a percentage
            c     rule confidence as a fraction
            C     rule confidence as a percentage
            l     lift value of a rule (confidence/prior)
            L     lift value of a rule as a percentage
            Q     support of the empty set (total number of transactions)
    eval    measure for item set evaluation        (default: x)
            x     none       no measure / zero (default)
            b     ldratio    binary logarithm of support quotient       (+)
            c     conf       rule confidence                            (+)
            d     confdiff   absolute confidence difference to prior    (+)
            l     lift       lift value (confidence divided by prior)   (+)
            a     liftdiff   absolute difference of lift value to 1     (+)
            q     liftquot   difference of lift quotient to 1           (+)
            v     cvct       conviction (inverse lift negated head)     (+)
            e     cvctdiff   absolute difference of conviction to 1     (+)
            r     cvctquot   difference of conviction quotient to 1     (+)
            k     cprob      conditional probability ratio              (+)
            j     import     importance (binary log. of prob. ratio)    (+)
            z     cert       certainty factor (relative conf. change)   (+)
            n     chi2       normalized chi^2 measure                   (+)
            p     chi2pval   p-value f/ (unnormalized) chi^2 measure    (-)
            y     yates      normalized chi^2 with Yates' correction    (+)
            t     yatespval  p-value f/ Yates-corrected chi^2 measure   (-)
            i     info       information difference to prior            (+)
            g     infopval   p-value f/ G statistic/info. difference    (-)
            f     fetprob    Fisher's exact test (table probability)    (-)
            h     fetchi2    Fisher's exact test (chi^2 measure)        (-)
            m     fetinfo    Fisher's exact test (mutual information)   (-)
            s     fetsupp    Fisher's exact test (support)              (-)
            Measures marked with (+) must meet or exceed the threshold,
            measures marked with (-) must not exceed the threshold
            in order for the item set to be reported.
    agg     evaluation measure aggregation mode    (default: x)
            x     none       no aggregation (use first value)
            m     min        minimum of individual measure values
            n     max        maximum of individual measure values
            a     avg        average of individual measure values
    thresh  threshold for evaluation measure       (default: 10%)
    prune   min. size for evaluation filtering     (default: no pruning)
            = 0   backward filtering       (no subset check)
            < 0   weak   forward filtering (one subset  must qualify)
            > 0   strong forward filtering (all subsets must qualify)
    algo    algorithm variant to use               (default: a)
            b     basic      standard algorithm (only choice)
    mode    operation mode indicators/flags        (default: None)
            x     do not use perfect extension pruning
            t/T   do not organize transactions as a prefix tree
            y     a-posteriori pruning of infrequent item sets
            z     invalidate evaluation below expected support
            o     use original rule support definition (body & head)
    border  support border for filtering item sets (default: None)
            Must be a list or tuple of (absolute) minimum support values
            per item set size (by which the list/tuple is indexed).
    appear  dictionary mapping items to item appearance indicators,
            with the key None referring to the default item appearance.
            (If None does not occur as a key or no dictionary is given,
            the default item appearance indicator is 'both'.)
            This parameter is only used if the target type is rules.
            * item may not appear anywhere in a rule:
              '-', 'n', 'none', 'neither', 'ignore'
            * item may appear only in rule body/antecedent:
              'i', 'in', 'inp', 'input', 'b', 'body',
              'a', 'ante', 'antecedent'
            * item may appear only in rule head/consequent:
              'o', 'out',      'output', 'h', 'head',
              'c', 'cons', 'consequent'
            * item may appear anywhere in a rule:
              'io', 'i&o', 'inout', 'in&out', 'bh', 'b&h', 'both'
    returns if report is not in ['#','=','|']:
              if the target is association rules:
                a list of rules (i.e. tuples with two or more elements),
                each consisting of a head/consequent item, a tuple with
                a body/antecedent item set, and the values selected by
                the parameter 'report', which may be combined into a
                tuple or a list if report[0] is '(' or '[', respectively.
              if the target is a type of item sets:
                a list of patterns (i.e. tuples with one or more elements),
                each consisting of a tuple with a found frequent item set
                and the values selected by the parameter 'report', which
                may be combined into a tuple or list if report[0] is '('
                or '[', respectively
            if report in ['#','=','|']:
              a pattern spectrum as a dictionary mapping pattern sizes
              to the corresponding occurrence support ranges, as a list
              of triplets (size, min. support, max. support) or as three
              columns for sizes and minimum and maximum support values

# Description of the Value

We have decide to do some proves with different characterized value of support. This value are 2,10,20,30,40,50,60,70,80,90.
After that we have to do some proves with different type of target , a for frequent itemset, m for maximal itemset e c for closed itemset. 

For choosing the best combination we try to create the frequent itemset with different min value from the range 0-19.

# Support = 25%

 Frequent Itemsets with min value different in a range on 0-19

In [12]:
x = 0
for x in range (19):
    items = apriori(baskets, supp=25, report ='s', target='a',zmin = x)
    print('Number of itemsets for zimin',x, ':' , len(items))

Number of itemsets for zimin 0 : 104
Number of itemsets for zimin 1 : 103
Number of itemsets for zimin 2 : 78
Number of itemsets for zimin 3 : 23
Number of itemsets for zimin 4 : 4
Number of itemsets for zimin 5 : 0
Number of itemsets for zimin 6 : 0
Number of itemsets for zimin 7 : 0
Number of itemsets for zimin 8 : 0
Number of itemsets for zimin 9 : 0
Number of itemsets for zimin 10 : 0
Number of itemsets for zimin 11 : 0
Number of itemsets for zimin 12 : 0
Number of itemsets for zimin 13 : 0
Number of itemsets for zimin 14 : 0
Number of itemsets for zimin 15 : 0
Number of itemsets for zimin 16 : 0
Number of itemsets for zimin 17 : 0
Number of itemsets for zimin 18 : 0

In [13]:
itemsets = apriori(baskets, supp=25, report ='s', target='a',zmin = 2)
print('Number of itemsets:', len(itemsets))
itemsets

Number of itemsets: 78

[(('[1009.0, 3607.8)_Income', 'No_Attrition'), 0.2718006795016987),
 (('[1.0, 3.8)_Distance', 'No_OverTime'), 0.25028312570781425),
 (('[1.0, 3.8)_Distance', 'No_Attrition'), 0.29784824462061155),
 (('[32.0, 39.0)_Age', 'No_OverTime'), 0.2536806342015855),
 (('[32.0, 39.0)_Age', 'Travel_Rarely'), 0.2536806342015855),
 (('[32.0, 39.0)_Age', 'No_Attrition'), 0.29898074745186864),
 (('MidLevel', 'No_OverTime'), 0.26160815402038506),
 (('MidLevel', 'Travel_Rarely'), 0.26840317100792754),
 (('MidLevel', 'No_Attrition'), 0.3363533408833522),
 (('1_companies', 'High'), 0.2650056625141563),
 (('1_companies', 'No_OverTime'), 0.2729331823329558),
 (('1_companies', 'Travel_Rarely'), 0.29331823329558326),
 (('1_companies', 'No_Attrition'), 0.3103057757644394),
 (('Female', 'High'), 0.2695356738391846),
 (('Female', 'No_OverTime'), 0.27519818799546997),
 (('Female', 'Travel_Rarely'), 0.2876557191392978),
 (('Female', 'No_Attrition'), 0.3261608154020385),
 (('1_stockOption', 'High'), 0.26840317100792754),
 (('1_stockOption', 'No_OverTime'), 0.2887882219705549),
 (('1_stockOption', 'No_OverTime', 'No_Attrition'), 0.2706681766704417),
 (('1_stockOption', 'Travel_Rarely'), 0.2808607021517554),
 (('1_stockOption', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('1_stockOption', 'No_Attrition'), 0.34994337485843713),
 (('Bachelor', 'Male'), 0.25141562853907135),
 (('Bachelor', 'High'), 0.2638731596828992),
 (('Bachelor', 'No_OverTime'), 0.3012457531143828),
 (('Bachelor', 'No_OverTime', 'No_Attrition'), 0.2638731596828992),
 (('Bachelor', 'Travel_Rarely'), 0.3171007927519819),
 (('Bachelor', 'Travel_Rarely', 'No_Attrition'), 0.25141562853907135),
 (('Bachelor', 'No_Attrition'), 0.3261608154020385),
 (('EntryLevel', 'High'), 0.27746319365798416),
 (('EntryLevel', 'No_OverTime'), 0.3035107587768969),
 (('EntryLevel', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('EntryLevel', 'Travel_Rarely'), 0.3001132502831257),
 (('EntryLevel', 'No_Attrition'), 0.29784824462061155),
 (('[11.0, 13.8)_%', 'Male'), 0.26727066817667045),
 (('[11.0, 13.8)_%', 'High'), 0.2695356738391846),
 (('[11.0, 13.8)_%', 'No_OverTime'), 0.2842582106455266),
 (('[11.0, 13.8)_%', 'Travel_Rarely'), 0.3035107587768969),
 (('[11.0, 13.8)_%', 'No_Attrition'), 0.33748584371460927),
 (('0_stockOption', 'Male'), 0.28312570781426954),
 (('0_stockOption', 'High'), 0.29218573046432617),
 (('0_stockOption', 'No_OverTime'), 0.3091732729331823),
 (('0_stockOption', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('0_stockOption', 'Travel_Rarely'), 0.3159682899207248),
 (('0_stockOption', 'No_Attrition'), 0.32389580973952437),
 (('2.0_Time', 'Male'), 0.30804077010192527),
 (('2.0_Time', 'High'), 0.32389580973952437),
 (('2.0_Time', 'High', 'No_Attrition'), 0.2706681766704417),
 (('2.0_Time', 'No_OverTime'), 0.32276330690826727),
 (('2.0_Time', 'No_OverTime', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'Travel_Rarely'), 0.3510758776896942),
 (('2.0_Time', 'Travel_Rarely', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'No_Attrition'), 0.3827859569648924),
 (('Male', 'High'), 0.3952434881087203),
 (('Male', 'High', 'No_OverTime'), 0.27746319365798416),
 (('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely'), 0.29218573046432617),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'High', 'No_Attrition'), 0.3431483578708947),
 (('Male', 'No_OverTime'), 0.44733861834654587),
 (('Male', 'No_OverTime', 'Travel_Rarely'), 0.32955832389580975),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('Male', 'No_OverTime', 'No_Attrition'), 0.39184597961494905),
 (('Male', 'Travel_Rarely'), 0.44620611551528877),
 (('Male', 'Travel_Rarely', 'No_Attrition'), 0.3646659116647792),
 (('Male', 'No_Attrition'), 0.5005662514156285),
 (('High', 'No_OverTime'), 0.4654586636466591),
 (('High', 'No_OverTime', 'Travel_Rarely'), 0.3431483578708947),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248),
 (('High', 'No_OverTime', 'No_Attrition'), 0.42808607021517553),
 (('High', 'Travel_Rarely'), 0.49490373725934317),
 (('High', 'Travel_Rarely', 'No_Attrition'), 0.4258210645526614),
 (('High', 'No_Attrition'), 0.5764439411098528),
 (('No_OverTime', 'Travel_Rarely'), 0.5300113250283126),
 (('No_OverTime', 'Travel_Rarely', 'No_Attrition'), 0.46885617214043035),
 (('No_OverTime', 'No_Attrition'), 0.6398640996602492),
 (('Travel_Rarely', 'No_Attrition'), 0.6047565118912798)]

In [14]:
itemsets1 = apriori(baskets, supp=25, report ='s', target='a',zmin = 3)
print('Number of itemsets:', len(itemsets1))
itemsets1

Number of itemsets: 23

[(('1_stockOption', 'No_OverTime', 'No_Attrition'), 0.2706681766704417),
 (('1_stockOption', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Bachelor', 'No_OverTime', 'No_Attrition'), 0.2638731596828992),
 (('Bachelor', 'Travel_Rarely', 'No_Attrition'), 0.25141562853907135),
 (('EntryLevel', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('0_stockOption', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('2.0_Time', 'High', 'No_Attrition'), 0.2706681766704417),
 (('2.0_Time', 'No_OverTime', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'Travel_Rarely', 'No_Attrition'), 0.2785956964892412),
 (('Male', 'High', 'No_OverTime'), 0.27746319365798416),
 (('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely'), 0.29218573046432617),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'High', 'No_Attrition'), 0.3431483578708947),
 (('Male', 'No_OverTime', 'Travel_Rarely'), 0.32955832389580975),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('Male', 'No_OverTime', 'No_Attrition'), 0.39184597961494905),
 (('Male', 'Travel_Rarely', 'No_Attrition'), 0.3646659116647792),
 (('High', 'No_OverTime', 'Travel_Rarely'), 0.3431483578708947),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248),
 (('High', 'No_OverTime', 'No_Attrition'), 0.42808607021517553),
 (('High', 'Travel_Rarely', 'No_Attrition'), 0.4258210645526614),
 (('No_OverTime', 'Travel_Rarely', 'No_Attrition'), 0.46885617214043035)]

In [15]:
itemsets2 = apriori(baskets, supp=25, report ='s', target='a',zmin = 4)
print('Number of itemsets:', len(itemsets2))
itemsets2

Number of itemsets: 4

[(('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248)]

Maximal Itemset with min value in a range of 0-19

In [16]:
x = 0
for x in range (19):
    items1 = apriori(baskets, supp=25, report ='s', target='m',zmin = x)
    print('Number of itemsets for zimin',x, ':' , len(items1))

Number of itemsets for zimin 0 : 52
Number of itemsets for zimin 1 : 52
Number of itemsets for zimin 2 : 44
Number of itemsets for zimin 3 : 13
Number of itemsets for zimin 4 : 4
Number of itemsets for zimin 5 : 0
Number of itemsets for zimin 6 : 0
Number of itemsets for zimin 7 : 0
Number of itemsets for zimin 8 : 0
Number of itemsets for zimin 9 : 0
Number of itemsets for zimin 10 : 0
Number of itemsets for zimin 11 : 0
Number of itemsets for zimin 12 : 0
Number of itemsets for zimin 13 : 0
Number of itemsets for zimin 14 : 0
Number of itemsets for zimin 15 : 0
Number of itemsets for zimin 16 : 0
Number of itemsets for zimin 17 : 0
Number of itemsets for zimin 18 : 0

In [17]:
itemsets3 = apriori(baskets, supp=25, report ='s', target='m',zmin = 2)
print('Number of itemsets:', len(itemsets3))
itemsets3

Number of itemsets: 44

[(('[1009.0, 3607.8)_Income', 'No_Attrition'), 0.2718006795016987),
 (('[1.0, 3.8)_Distance', 'No_OverTime'), 0.25028312570781425),
 (('[1.0, 3.8)_Distance', 'No_Attrition'), 0.29784824462061155),
 (('[32.0, 39.0)_Age', 'No_OverTime'), 0.2536806342015855),
 (('[32.0, 39.0)_Age', 'Travel_Rarely'), 0.2536806342015855),
 (('[32.0, 39.0)_Age', 'No_Attrition'), 0.29898074745186864),
 (('MidLevel', 'No_OverTime'), 0.26160815402038506),
 (('MidLevel', 'Travel_Rarely'), 0.26840317100792754),
 (('MidLevel', 'No_Attrition'), 0.3363533408833522),
 (('1_companies', 'High'), 0.2650056625141563),
 (('1_companies', 'No_OverTime'), 0.2729331823329558),
 (('1_companies', 'Travel_Rarely'), 0.29331823329558326),
 (('1_companies', 'No_Attrition'), 0.3103057757644394),
 (('Female', 'High'), 0.2695356738391846),
 (('Female', 'No_OverTime'), 0.27519818799546997),
 (('Female', 'Travel_Rarely'), 0.2876557191392978),
 (('Female', 'No_Attrition'), 0.3261608154020385),
 (('1_stockOption', 'High'), 0.26840317100792754),
 (('1_stockOption', 'No_OverTime', 'No_Attrition'), 0.2706681766704417),
 (('1_stockOption', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Bachelor', 'Male'), 0.25141562853907135),
 (('Bachelor', 'High'), 0.2638731596828992),
 (('Bachelor', 'No_OverTime', 'No_Attrition'), 0.2638731596828992),
 (('Bachelor', 'Travel_Rarely', 'No_Attrition'), 0.25141562853907135),
 (('EntryLevel', 'High'), 0.27746319365798416),
 (('EntryLevel', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('EntryLevel', 'Travel_Rarely'), 0.3001132502831257),
 (('[11.0, 13.8)_%', 'Male'), 0.26727066817667045),
 (('[11.0, 13.8)_%', 'High'), 0.2695356738391846),
 (('[11.0, 13.8)_%', 'No_OverTime'), 0.2842582106455266),
 (('[11.0, 13.8)_%', 'Travel_Rarely'), 0.3035107587768969),
 (('[11.0, 13.8)_%', 'No_Attrition'), 0.33748584371460927),
 (('0_stockOption', 'Male'), 0.28312570781426954),
 (('0_stockOption', 'High'), 0.29218573046432617),
 (('0_stockOption', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('0_stockOption', 'Travel_Rarely'), 0.3159682899207248),
 (('2.0_Time', 'Male'), 0.30804077010192527),
 (('2.0_Time', 'High', 'No_Attrition'), 0.2706681766704417),
 (('2.0_Time', 'No_OverTime', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'Travel_Rarely', 'No_Attrition'), 0.2785956964892412),
 (('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248)]

In [18]:
itemsets4 = apriori(baskets, supp=25, report ='s', target='m',zmin = 3)
print('Number of itemsets:', len(itemsets4))
itemsets4

Number of itemsets: 13

[(('1_stockOption', 'No_OverTime', 'No_Attrition'), 0.2706681766704417),
 (('1_stockOption', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Bachelor', 'No_OverTime', 'No_Attrition'), 0.2638731596828992),
 (('Bachelor', 'Travel_Rarely', 'No_Attrition'), 0.25141562853907135),
 (('EntryLevel', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('0_stockOption', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('2.0_Time', 'High', 'No_Attrition'), 0.2706681766704417),
 (('2.0_Time', 'No_OverTime', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'Travel_Rarely', 'No_Attrition'), 0.2785956964892412),
 (('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248)]

In [19]:
itemsets5 = apriori(baskets, supp=25, report ='s', target='m',zmin = 4)
print('Number of itemsets:', len(itemsets5))
itemsets5

Number of itemsets: 4

[(('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248)]

Closed Itemset with min value in a range 0-19

In [20]:
x = 0
for x in range (19):
    items2 = apriori(baskets, supp=25, report ='s', target='c',zmin = x)
    print('Number of itemsets for zimin',x, ':' , len(items2))

Number of itemsets for zimin 0 : 104
Number of itemsets for zimin 1 : 103
Number of itemsets for zimin 2 : 78
Number of itemsets for zimin 3 : 23
Number of itemsets for zimin 4 : 4
Number of itemsets for zimin 5 : 0
Number of itemsets for zimin 6 : 0
Number of itemsets for zimin 7 : 0
Number of itemsets for zimin 8 : 0
Number of itemsets for zimin 9 : 0
Number of itemsets for zimin 10 : 0
Number of itemsets for zimin 11 : 0
Number of itemsets for zimin 12 : 0
Number of itemsets for zimin 13 : 0
Number of itemsets for zimin 14 : 0
Number of itemsets for zimin 15 : 0
Number of itemsets for zimin 16 : 0
Number of itemsets for zimin 17 : 0
Number of itemsets for zimin 18 : 0

In [21]:
itemsets6 = apriori(baskets, supp=25, report ='s', target='c',zmin = 2)
print('Number of itemsets:', len(itemsets6))
itemsets6

Number of itemsets: 78

[(('[1009.0, 3607.8)_Income', 'No_Attrition'), 0.2718006795016987),
 (('[1.0, 3.8)_Distance', 'No_OverTime'), 0.25028312570781425),
 (('[1.0, 3.8)_Distance', 'No_Attrition'), 0.29784824462061155),
 (('[32.0, 39.0)_Age', 'No_OverTime'), 0.2536806342015855),
 (('[32.0, 39.0)_Age', 'Travel_Rarely'), 0.2536806342015855),
 (('[32.0, 39.0)_Age', 'No_Attrition'), 0.29898074745186864),
 (('MidLevel', 'No_OverTime'), 0.26160815402038506),
 (('MidLevel', 'Travel_Rarely'), 0.26840317100792754),
 (('MidLevel', 'No_Attrition'), 0.3363533408833522),
 (('1_companies', 'High'), 0.2650056625141563),
 (('1_companies', 'No_OverTime'), 0.2729331823329558),
 (('1_companies', 'Travel_Rarely'), 0.29331823329558326),
 (('1_companies', 'No_Attrition'), 0.3103057757644394),
 (('Female', 'High'), 0.2695356738391846),
 (('Female', 'No_OverTime'), 0.27519818799546997),
 (('Female', 'Travel_Rarely'), 0.2876557191392978),
 (('Female', 'No_Attrition'), 0.3261608154020385),
 (('1_stockOption', 'High'), 0.26840317100792754),
 (('1_stockOption', 'No_OverTime'), 0.2887882219705549),
 (('1_stockOption', 'No_OverTime', 'No_Attrition'), 0.2706681766704417),
 (('1_stockOption', 'Travel_Rarely'), 0.2808607021517554),
 (('1_stockOption', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('1_stockOption', 'No_Attrition'), 0.34994337485843713),
 (('Bachelor', 'Male'), 0.25141562853907135),
 (('Bachelor', 'High'), 0.2638731596828992),
 (('Bachelor', 'No_OverTime'), 0.3012457531143828),
 (('Bachelor', 'No_OverTime', 'No_Attrition'), 0.2638731596828992),
 (('Bachelor', 'Travel_Rarely'), 0.3171007927519819),
 (('Bachelor', 'Travel_Rarely', 'No_Attrition'), 0.25141562853907135),
 (('Bachelor', 'No_Attrition'), 0.3261608154020385),
 (('EntryLevel', 'High'), 0.27746319365798416),
 (('EntryLevel', 'No_OverTime'), 0.3035107587768969),
 (('EntryLevel', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('EntryLevel', 'Travel_Rarely'), 0.3001132502831257),
 (('EntryLevel', 'No_Attrition'), 0.29784824462061155),
 (('[11.0, 13.8)_%', 'Male'), 0.26727066817667045),
 (('[11.0, 13.8)_%', 'High'), 0.2695356738391846),
 (('[11.0, 13.8)_%', 'No_OverTime'), 0.2842582106455266),
 (('[11.0, 13.8)_%', 'Travel_Rarely'), 0.3035107587768969),
 (('[11.0, 13.8)_%', 'No_Attrition'), 0.33748584371460927),
 (('0_stockOption', 'Male'), 0.28312570781426954),
 (('0_stockOption', 'High'), 0.29218573046432617),
 (('0_stockOption', 'No_OverTime'), 0.3091732729331823),
 (('0_stockOption', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('0_stockOption', 'Travel_Rarely'), 0.3159682899207248),
 (('0_stockOption', 'No_Attrition'), 0.32389580973952437),
 (('2.0_Time', 'Male'), 0.30804077010192527),
 (('2.0_Time', 'High'), 0.32389580973952437),
 (('2.0_Time', 'High', 'No_Attrition'), 0.2706681766704417),
 (('2.0_Time', 'No_OverTime'), 0.32276330690826727),
 (('2.0_Time', 'No_OverTime', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'Travel_Rarely'), 0.3510758776896942),
 (('2.0_Time', 'Travel_Rarely', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'No_Attrition'), 0.3827859569648924),
 (('Male', 'High'), 0.3952434881087203),
 (('Male', 'High', 'No_OverTime'), 0.27746319365798416),
 (('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely'), 0.29218573046432617),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'High', 'No_Attrition'), 0.3431483578708947),
 (('Male', 'No_OverTime'), 0.44733861834654587),
 (('Male', 'No_OverTime', 'Travel_Rarely'), 0.32955832389580975),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('Male', 'No_OverTime', 'No_Attrition'), 0.39184597961494905),
 (('Male', 'Travel_Rarely'), 0.44620611551528877),
 (('Male', 'Travel_Rarely', 'No_Attrition'), 0.3646659116647792),
 (('Male', 'No_Attrition'), 0.5005662514156285),
 (('High', 'No_OverTime'), 0.4654586636466591),
 (('High', 'No_OverTime', 'Travel_Rarely'), 0.3431483578708947),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248),
 (('High', 'No_OverTime', 'No_Attrition'), 0.42808607021517553),
 (('High', 'Travel_Rarely'), 0.49490373725934317),
 (('High', 'Travel_Rarely', 'No_Attrition'), 0.4258210645526614),
 (('High', 'No_Attrition'), 0.5764439411098528),
 (('No_OverTime', 'Travel_Rarely'), 0.5300113250283126),
 (('No_OverTime', 'Travel_Rarely', 'No_Attrition'), 0.46885617214043035),
 (('No_OverTime', 'No_Attrition'), 0.6398640996602492),
 (('Travel_Rarely', 'No_Attrition'), 0.6047565118912798)]

In [22]:
itemsets7 = apriori(baskets, supp=25, report ='s', target='c',zmin = 3)
print('Number of itemsets:', len(itemsets7))
itemsets7

Number of itemsets: 23

[(('1_stockOption', 'No_OverTime', 'No_Attrition'), 0.2706681766704417),
 (('1_stockOption', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Bachelor', 'No_OverTime', 'No_Attrition'), 0.2638731596828992),
 (('Bachelor', 'Travel_Rarely', 'No_Attrition'), 0.25141562853907135),
 (('EntryLevel', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('0_stockOption', 'No_OverTime', 'No_Attrition'), 0.25254813137032844),
 (('2.0_Time', 'High', 'No_Attrition'), 0.2706681766704417),
 (('2.0_Time', 'No_OverTime', 'No_Attrition'), 0.2785956964892412),
 (('2.0_Time', 'Travel_Rarely', 'No_Attrition'), 0.2785956964892412),
 (('Male', 'High', 'No_OverTime'), 0.27746319365798416),
 (('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely'), 0.29218573046432617),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'High', 'No_Attrition'), 0.3431483578708947),
 (('Male', 'No_OverTime', 'Travel_Rarely'), 0.32955832389580975),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('Male', 'No_OverTime', 'No_Attrition'), 0.39184597961494905),
 (('Male', 'Travel_Rarely', 'No_Attrition'), 0.3646659116647792),
 (('High', 'No_OverTime', 'Travel_Rarely'), 0.3431483578708947),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248),
 (('High', 'No_OverTime', 'No_Attrition'), 0.42808607021517553),
 (('High', 'Travel_Rarely', 'No_Attrition'), 0.4258210645526614),
 (('No_OverTime', 'Travel_Rarely', 'No_Attrition'), 0.46885617214043035)]

In [23]:
itemsets8 = apriori(baskets, supp=25, report ='s', target='c',zmin = 4)
print('Number of itemsets:', len(itemsets8))
itemsets8

Number of itemsets: 4

[(('Male', 'High', 'No_OverTime', 'No_Attrition'), 0.2548131370328426),
 (('Male', 'High', 'Travel_Rarely', 'No_Attrition'), 0.2536806342015855),
 (('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.2876557191392978),
 (('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  0.3159682899207248)]

# Considerazioni finali

In [24]:
print('Numeber of itemset with support = 25')
print ('Target Frequent')
print('Number of itemsets [2]:', len(itemsets))
print('Number of itemsets [3]:', len(itemsets1))
print('Number of itemsets [4]:', len(itemsets2))
print ('Target Maximum')
print('Number of itemsets [2]:', len(itemsets3))
print('Number of itemsets [3]:', len(itemsets4))
print('Number of itemsets [4]:', len(itemsets5))
print('Target Closed')
print('Number of itemsets [2]:', len(itemsets6))
print('Number of itemsets [3]:', len(itemsets7))
print('Number of itemsets [4]:', len(itemsets8))

Numeber of itemset with support = 25
Target Frequent
Number of itemsets [2]: 78
Number of itemsets [3]: 23
Number of itemsets [4]: 4
Target Maximum
Number of itemsets [2]: 44
Number of itemsets [3]: 13
Number of itemsets [4]: 4
Target Closed
Number of itemsets [2]: 78
Number of itemsets [3]: 23
Number of itemsets [4]: 4

# Association Rules

In [25]:
y = range(19)
z = range(60,100,10)

for n in z:
    for m in y:
        rules = apriori(baskets, supp=25, zmin=m, target='r', conf=n, report='ascl')
        print('Number of rule with Confidance',n,'% and zmin',m,':', len(rules))

Number of rule with Confidance 60 % and zmin 0 : 352
Number of rule with Confidance 60 % and zmin 1 : 352
Number of rule with Confidance 60 % and zmin 2 : 347
Number of rule with Confidance 60 % and zmin 3 : 238
Number of rule with Confidance 60 % and zmin 4 : 46
Number of rule with Confidance 60 % and zmin 5 : 4
Number of rule with Confidance 60 % and zmin 6 : 0
Number of rule with Confidance 60 % and zmin 7 : 0
Number of rule with Confidance 60 % and zmin 8 : 0
Number of rule with Confidance 60 % and zmin 9 : 0
Number of rule with Confidance 60 % and zmin 10 : 0
Number of rule with Confidance 60 % and zmin 11 : 0
Number of rule with Confidance 60 % and zmin 12 : 0
Number of rule with Confidance 60 % and zmin 13 : 0
Number of rule with Confidance 60 % and zmin 14 : 0
Number of rule with Confidance 60 % and zmin 15 : 0
Number of rule with Confidance 60 % and zmin 16 : 0
Number of rule with Confidance 60 % and zmin 17 : 0
Number of rule with Confidance 60 % and zmin 18 : 0
Number of rule with Confidance 70 % and zmin 0 : 215
Number of rule with Confidance 70 % and zmin 1 : 215
Number of rule with Confidance 70 % and zmin 2 : 212
Number of rule with Confidance 70 % and zmin 3 : 145
Number of rule with Confidance 70 % and zmin 4 : 27
Number of rule with Confidance 70 % and zmin 5 : 2
Number of rule with Confidance 70 % and zmin 6 : 0
Number of rule with Confidance 70 % and zmin 7 : 0
Number of rule with Confidance 70 % and zmin 8 : 0
Number of rule with Confidance 70 % and zmin 9 : 0
Number of rule with Confidance 70 % and zmin 10 : 0
Number of rule with Confidance 70 % and zmin 11 : 0
Number of rule with Confidance 70 % and zmin 12 : 0
Number of rule with Confidance 70 % and zmin 13 : 0
Number of rule with Confidance 70 % and zmin 14 : 0
Number of rule with Confidance 70 % and zmin 15 : 0
Number of rule with Confidance 70 % and zmin 16 : 0
Number of rule with Confidance 70 % and zmin 17 : 0
Number of rule with Confidance 70 % and zmin 18 : 0
Number of rule with Confidance 80 % and zmin 0 : 58
Number of rule with Confidance 80 % and zmin 1 : 58
Number of rule with Confidance 80 % and zmin 2 : 57
Number of rule with Confidance 80 % and zmin 3 : 38
Number of rule with Confidance 80 % and zmin 4 : 5
Number of rule with Confidance 80 % and zmin 5 : 0
Number of rule with Confidance 80 % and zmin 6 : 0
Number of rule with Confidance 80 % and zmin 7 : 0
Number of rule with Confidance 80 % and zmin 8 : 0
Number of rule with Confidance 80 % and zmin 9 : 0
Number of rule with Confidance 80 % and zmin 10 : 0
Number of rule with Confidance 80 % and zmin 11 : 0
Number of rule with Confidance 80 % and zmin 12 : 0
Number of rule with Confidance 80 % and zmin 13 : 0
Number of rule with Confidance 80 % and zmin 14 : 0
Number of rule with Confidance 80 % and zmin 15 : 0
Number of rule with Confidance 80 % and zmin 16 : 0
Number of rule with Confidance 80 % and zmin 17 : 0
Number of rule with Confidance 80 % and zmin 18 : 0
Number of rule with Confidance 90 % and zmin 0 : 10
Number of rule with Confidance 90 % and zmin 1 : 10
Number of rule with Confidance 90 % and zmin 2 : 10
Number of rule with Confidance 90 % and zmin 3 : 9
Number of rule with Confidance 90 % and zmin 4 : 2
Number of rule with Confidance 90 % and zmin 5 : 0
Number of rule with Confidance 90 % and zmin 6 : 0
Number of rule with Confidance 90 % and zmin 7 : 0
Number of rule with Confidance 90 % and zmin 8 : 0
Number of rule with Confidance 90 % and zmin 9 : 0
Number of rule with Confidance 90 % and zmin 10 : 0
Number of rule with Confidance 90 % and zmin 11 : 0
Number of rule with Confidance 90 % and zmin 12 : 0
Number of rule with Confidance 90 % and zmin 13 : 0
Number of rule with Confidance 90 % and zmin 14 : 0
Number of rule with Confidance 90 % and zmin 15 : 0
Number of rule with Confidance 90 % and zmin 16 : 0
Number of rule with Confidance 90 % and zmin 17 : 0
Number of rule with Confidance 90 % and zmin 18 : 0

Decido di stampare i set di rules più significativi

Confidance 60%

In [26]:

rules1 = apriori(baskets, supp=25, zmin=4, target='r', conf=60, 
                report='ascl') 
print('Number of rule:', len(rules1))
set(rules1)

Number of rule: 46

{('High',
  ('0_stockOption', 'No_OverTime', 'No_Attrition'),
  154,
  0.17440543601359004,
  0.6905829596412556,
  1.0388155934637626),
 ('High',
  ('1_stockOption', 'No_OverTime', 'No_Attrition'),
  162,
  0.18346545866364666,
  0.6778242677824268,
  1.0196232171241615),
 ('High',
  ('1_stockOption', 'Travel_Rarely', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.7098214285714286,
  1.0677552324166464),
 ('High',
  ('2.0_Time', 'No_OverTime', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.6829268292682927,
  1.0272987908754727),
 ('High',
  ('2.0_Time', 'Travel_Rarely', 'No_Attrition'),
  174,
  0.1970554926387316,
  0.7073170731707317,
  1.0639880334067395),
 ('High',
  ('Bachelor', 'No_OverTime', 'No_Attrition'),
  158,
  0.17893544733861835,
  0.6781115879828327,
  1.0200554211053512),
 ('High',
  ('Bachelor', 'Travel_Rarely', 'No_Attrition'),
  153,
  0.17327293318233294,
  0.6891891891891891,
  1.0367190017956627),
 ('High',
  ('EntryLevel', 'No_OverTime', 'No_Attrition'),
  157,
  0.17780294450736125,
  0.7040358744394619,
  1.059052260868901),
 ('High',
  ('Male', 'No_OverTime', 'No_Attrition'),
  225,
  0.2548131370328426,
  0.6502890173410405,
  0.9782030703784306),
 ('High',
  ('Male', 'No_OverTime', 'Travel_Rarely'),
  181,
  0.20498301245753114,
  0.6219931271477663,
  0.9356387244829262),
 ('High',
  ('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.6614173228346457,
  0.9949429234463238),
 ('High',
  ('Male', 'Travel_Rarely', 'No_Attrition'),
  224,
  0.2536806342015855,
  0.6956521739130435,
  1.0464410043700467),
 ('High',
  ('No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  279,
  0.3159682899207248,
  0.6739130434782609,
  1.0137397229834828),
 ('Male',
  ('0_stockOption', 'No_OverTime', 'No_Attrition'),
  142,
  0.16081540203850508,
  0.6367713004484304,
  1.041238996844378),
 ('Male',
  ('1_stockOption', 'No_OverTime', 'No_Attrition'),
  144,
  0.16308040770101925,
  0.602510460251046,
  0.9852161785216178),
 ('Male',
  ('2.0_Time', 'High', 'No_Attrition'),
  150,
  0.16987542468856173,
  0.6276150627615062,
  1.0262668526266852),
 ('Male',
  ('2.0_Time', 'No_OverTime', 'No_Attrition'),
  157,
  0.17780294450736125,
  0.6382113821138211,
  1.0435937970490816),
 ('Male',
  ('2.0_Time', 'Travel_Rarely', 'No_Attrition'),
  158,
  0.17893544733861835,
  0.6422764227642277,
  1.0502408912978018),
 ('Male',
  ('Bachelor', 'No_OverTime', 'No_Attrition'),
  146,
  0.16534541336353342,
  0.6266094420600858,
  1.024622476553807),
 ('Male',
  ('Bachelor', 'Travel_Rarely', 'No_Attrition'),
  137,
  0.1551528878822197,
  0.6171171171171171,
  1.0091007674341008),
 ('Male',
  ('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.6021505376344086,
  0.9846276383910793),
 ('Male',
  ('No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  254,
  0.2876557191392978,
  0.6135265700483091,
  1.003229558060476),
 ('No_Attrition',
  ('High', 'No_OverTime', 'Travel_Rarely'),
  279,
  0.3159682899207248,
  0.9207920792079208,
  1.1137800081378),
 ('No_Attrition',
  ('Male', 'High', 'No_OverTime'),
  225,
  0.2548131370328426,
  0.9183673469387755,
  1.1108470785574505),
 ('No_Attrition',
  ('Male', 'High', 'Travel_Rarely'),
  224,
  0.2536806342015855,
  0.8682170542635659,
  1.0501858341297654),
 ('No_Attrition',
  ('Male', 'No_OverTime', 'Travel_Rarely'),
  254,
  0.2876557191392978,
  0.872852233676976,
  1.0557924963517393),
 ('No_OverTime',
  ('1_stockOption', 'Travel_Rarely', 'No_Attrition'),
  172,
  0.19479048697621745,
  0.7678571428571429,
  1.0627239140170175),
 ('No_OverTime',
  ('2.0_Time', 'High', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.702928870292887,
  0.972862370640469),
 ('No_OverTime',
  ('2.0_Time', 'Travel_Rarely', 'No_Attrition'),
  180,
  0.20385050962627407,
  0.7317073170731707,
  1.0126921018426485),
 ('No_OverTime',
  ('Bachelor', 'Travel_Rarely', 'No_Attrition'),
  183,
  0.2072480181200453,
  0.8243243243243243,
  1.1408752012200287),
 ('No_OverTime',
  ('High', 'Travel_Rarely', 'No_Attrition'),
  279,
  0.3159682899207248,
  0.7420212765957447,
  1.026966751150537),
 ('No_OverTime',
  ('Male', 'High', 'No_Attrition'),
  225,
  0.2548131370328426,
  0.7425742574257426,
  1.027732083553183),
 ('No_OverTime',
  ('Male', 'High', 'Travel_Rarely'),
  181,
  0.20498301245753114,
  0.7015503875968992,
  0.9709545333041725),
 ('No_OverTime',
  ('Male', 'High', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.75,
  1.0380094043887147),
 ('No_OverTime',
  ('Male', 'Travel_Rarely', 'No_Attrition'),
  254,
  0.2876557191392978,
  0.7888198757763976,
  1.0917365992328512),
 ('Travel_Rarely',
  ('0_stockOption', 'No_OverTime', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.7174887892376681,
  0.9776891989149089),
 ('Travel_Rarely',
  ('1_stockOption', 'No_OverTime', 'No_Attrition'),
  172,
  0.19479048697621745,
  0.7196652719665272,
  0.9806549925099437),
 ('Travel_Rarely',
  ('2.0_Time', 'High', 'No_Attrition'),
  174,
  0.1970554926387316,
  0.7280334728033473,
  0.9920579575391291),
 ('Travel_Rarely',
  ('2.0_Time', 'No_OverTime', 'No_Attrition'),
  180,
  0.20385050962627407,
  0.7317073170731707,
  0.9970641373080398),
 ('Travel_Rarely',
  ('Bachelor', 'No_OverTime', 'No_Attrition'),
  183,
  0.2072480181200453,
  0.7854077253218884,
  1.070239230646956),
 ('Travel_Rarely',
  ('EntryLevel', 'No_OverTime', 'No_Attrition'),
  158,
  0.17893544733861835,
  0.7085201793721974,
  0.9654680839284726),
 ('Travel_Rarely',
  ('High', 'No_OverTime', 'No_Attrition'),
  279,
  0.3159682899207248,
  0.7380952380952381,
  1.0057686654908877),
 ('Travel_Rarely',
  ('Male', 'High', 'No_Attrition'),
  224,
  0.2536806342015855,
  0.7392739273927392,
  1.0073748115552297),
 ('Travel_Rarely',
  ('Male', 'High', 'No_OverTime'),
  181,
  0.20498301245753114,
  0.7387755102040816,
  1.0066956412194508),
 ('Travel_Rarely',
  ('Male', 'High', 'No_OverTime', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.7466666666666667,
  1.0174485596707818),
 ('Travel_Rarely',
  ('Male', 'No_OverTime', 'No_Attrition'),
  254,
  0.2876557191392978,
  0.7341040462427746,
  1.0003300506672375)}

In [27]:
rules2 = apriori(baskets, supp=25, zmin=5, target='r', conf=60, 
                report='ascl') 
print('Number of rule:', len(rules2))
set(rules2)

Number of rule: 4

{('High',
  ('Male', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.6614173228346457,
  0.9949429234463238),
 ('Male',
  ('High', 'No_OverTime', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.6021505376344086,
  0.9846276383910793),
 ('No_OverTime',
  ('Male', 'High', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.75,
  1.0380094043887147),
 ('Travel_Rarely',
  ('Male', 'High', 'No_OverTime', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.7466666666666667,
  1.0174485596707818)}

Confidance 70%

In [28]:
rules3 = apriori(baskets, supp=25, zmin=4, target='r', conf=70, 
                report='ascl') 
print('Number of rule:', len(rules3))
set(rules3)

Number of rule: 27

{('High',
  ('1_stockOption', 'Travel_Rarely', 'No_Attrition'),
  159,
  0.18006795016987542,
  0.7098214285714286,
  1.0677552324166464),
 ('High',
  ('2.0_Time', 'Travel_Rarely', 'No_Attrition'),
  174,
  0.1970554926387316,
  0.7073170731707317,
  1.0639880334067395),
 ('High',
  ('EntryLevel', 'No_OverTime', 'No_Attrition'),
  157,
  0.17780294450736125,
  0.7040358744394619,
  1.059052260868901),
 ('No_Attrition',
  ('High', 'No_OverTime', 'Travel_Rarely'),
  279,
  0.3159682899207248,
  0.9207920792079208,
  1.1137800081378),
 ('No_Attrition',
  ('Male', 'High', 'No_OverTime'),
  225,
  0.2548131370328426,
  0.9183673469387755,
  1.1108470785574505),
 ('No_Attrition',
  ('Male', 'High', 'Travel_Rarely'),
  224,
  0.2536806342015855,
  0.8682170542635659,
  1.0501858341297654),
 ('No_Attrition',
  ('Male', 'No_OverTime', 'Travel_Rarely'),
  254,
  0.2876557191392978,
  0.872852233676976,
  1.0557924963517393),
 ('No_OverTime',
  ('1_stockOption', 'Travel_Rarely', 'No_Attrition'),
  172,
  0.19479048697621745,
  0.7678571428571429,
  1.0627239140170175),
 ('No_OverTime',
  ('2.0_Time', 'High', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.702928870292887,
  0.972862370640469),
 ('No_OverTime',
  ('2.0_Time', 'Travel_Rarely', 'No_Attrition'),
  180,
  0.20385050962627407,
  0.7317073170731707,
  1.0126921018426485),
 ('No_OverTime',
  ('Bachelor', 'Travel_Rarely', 'No_Attrition'),
  183,
  0.2072480181200453,
  0.8243243243243243,
  1.1408752012200287),
 ('No_OverTime',
  ('High', 'Travel_Rarely', 'No_Attrition'),
  279,
  0.3159682899207248,
  0.7420212765957447,
  1.026966751150537),
 ('No_OverTime',
  ('Male', 'High', 'No_Attrition'),
  225,
  0.2548131370328426,
  0.7425742574257426,
  1.027732083553183),
 ('No_OverTime',
  ('Male', 'High', 'Travel_Rarely'),
  181,
  0.20498301245753114,
  0.7015503875968992,
  0.9709545333041725),
 ('No_OverTime',
  ('Male', 'High', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.75,
  1.0380094043887147),
 ('No_OverTime',
  ('Male', 'Travel_Rarely', 'No_Attrition'),
  254,
  0.2876557191392978,
  0.7888198757763976,
  1.0917365992328512),
 ('Travel_Rarely',
  ('0_stockOption', 'No_OverTime', 'No_Attrition'),
  160,
  0.1812004530011325,
  0.7174887892376681,
  0.9776891989149089),
 ('Travel_Rarely',
  ('1_stockOption', 'No_OverTime', 'No_Attrition'),
  172,
  0.19479048697621745,
  0.7196652719665272,
  0.9806549925099437),
 ('Travel_Rarely',
  ('2.0_Time', 'High', 'No_Attrition'),
  174,
  0.1970554926387316,
  0.7280334728033473,
  0.9920579575391291),
 ('Travel_Rarely',
  ('2.0_Time', 'No_OverTime', 'No_Attrition'),
  180,
  0.20385050962627407,
  0.7317073170731707,
  0.9970641373080398),
 ('Travel_Rarely',
  ('Bachelor', 'No_OverTime', 'No_Attrition'),
  183,
  0.2072480181200453,
  0.7854077253218884,
  1.070239230646956),
 ('Travel_Rarely',
  ('EntryLevel', 'No_OverTime', 'No_Attrition'),
  158,
  0.17893544733861835,
  0.7085201793721974,
  0.9654680839284726),
 ('Travel_Rarely',
  ('High', 'No_OverTime', 'No_Attrition'),
  279,
  0.3159682899207248,
  0.7380952380952381,
  1.0057686654908877),
 ('Travel_Rarely',
  ('Male', 'High', 'No_Attrition'),
  224,
  0.2536806342015855,
  0.7392739273927392,
  1.0073748115552297),
 ('Travel_Rarely',
  ('Male', 'High', 'No_OverTime'),
  181,
  0.20498301245753114,
  0.7387755102040816,
  1.0066956412194508),
 ('Travel_Rarely',
  ('Male', 'High', 'No_OverTime', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.7466666666666667,
  1.0174485596707818),
 ('Travel_Rarely',
  ('Male', 'No_OverTime', 'No_Attrition'),
  254,
  0.2876557191392978,
  0.7341040462427746,
  1.0003300506672375)}

In [29]:
rules4 = apriori(baskets, supp=25, zmin=5, target='r', conf=70, 
                report='ascl') 
print('Number of rule:', len(rules4))
set(rules4)

Number of rule: 2

{('No_OverTime',
  ('Male', 'High', 'Travel_Rarely', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.75,
  1.0380094043887147),
 ('Travel_Rarely',
  ('Male', 'High', 'No_OverTime', 'No_Attrition'),
  168,
  0.19026047565118911,
  0.7466666666666667,
  1.0174485596707818)}

Confidance 80%

In [30]:
rules5 = apriori(baskets, supp=25, zmin=3, target='r', conf=80, 
                report='ascl') 
print('Number of rule:', len(rules5))
set(rules5)

Number of rule: 38

{('No_Attrition',
  ('0_stockOption', 'No_OverTime'),
  223,
  0.25254813137032844,
  0.8168498168498168,
  0.9880525866827237),
 ('No_Attrition',
  ('1_companies', 'High'),
  193,
  0.21857304643261607,
  0.8247863247863247,
  0.9976524997072942),
 ('No_Attrition',
  ('1_companies', 'No_OverTime'),
  211,
  0.23895809739524349,
  0.8755186721991701,
  1.0590177911669414),
 ('No_Attrition',
  ('1_companies', 'Travel_Rarely'),
  208,
  0.23556058890147225,
  0.803088803088803,
  0.9714074152430316),
 ('No_Attrition',
  ('1_stockOption', 'High'),
  218,
  0.24688561721404303,
  0.919831223628692,
  1.1126177677590892),
 ('No_Attrition',
  ('1_stockOption', 'No_OverTime'),
  239,
  0.2706681766704417,
  0.9372549019607843,
  1.133693258125168),
 ('No_Attrition',
  ('1_stockOption', 'Travel_Rarely'),
  224,
  0.2536806342015855,
  0.9032258064516129,
  1.0925320371188687),
 ('No_Attrition',
  ('2.0_Time', 'High'),
  239,
  0.2706681766704417,
  0.8356643356643356,
  1.010810422454258),
 ('No_Attrition',
  ('2.0_Time', 'No_OverTime'),
  246,
  0.2785956964892412,
  0.8631578947368421,
  1.0440663302090845),
 ('No_Attrition',
  ('Bachelor', 'High'),
  199,
  0.22536806342015855,
  0.8540772532188842,
  1.033082485742842),
 ('No_Attrition',
  ('Bachelor', 'Male'),
  179,
  0.20271800679501698,
  0.8063063063063063,
  0.9752992718746143),
 ('No_Attrition',
  ('Bachelor', 'No_OverTime'),
  233,
  0.2638731596828992,
  0.8759398496240601,
  1.0595272427644453),
 ('No_Attrition',
  ('EntryLevel', 'No_OverTime'),
  223,
  0.25254813137032844,
  0.832089552238806,
  1.0064864035984462),
 ('No_Attrition',
  ('Female', 'High'),
  206,
  0.2332955832389581,
  0.865546218487395,
  1.0469552204443422),
 ('No_Attrition',
  ('Female', 'No_OverTime'),
  219,
  0.2480181200453001,
  0.9012345679012346,
  1.0901234567901235),
 ('No_Attrition',
  ('Female', 'Travel_Rarely'),
  212,
  0.24009060022650056,
  0.8346456692913385,
  1.009578254772948),
 ('No_Attrition',
  ('High', 'No_OverTime'),
  378,
  0.42808607021517553,
  0.9197080291970803,
  1.1124687531246875),
 ('No_Attrition',
  ('High', 'No_OverTime', 'Travel_Rarely'),
  279,
  0.3159682899207248,
  0.9207920792079208,
  1.1137800081378),
 ('No_Attrition',
  ('High', 'Travel_Rarely'),
  376,
  0.4258210645526614,
  0.8604118993135011,
  1.0407448042381116),
 ('No_Attrition',
  ('Male', 'High'),
  303,
  0.3431483578708947,
  0.8681948424068768,
  1.0501589669113318),
 ('No_Attrition',
  ('Male', 'High', 'No_OverTime'),
  225,
  0.2548131370328426,
  0.9183673469387755,
  1.1108470785574505),
 ('No_Attrition',
  ('Male', 'High', 'Travel_Rarely'),
  224,
  0.2536806342015855,
  0.8682170542635659,
  1.0501858341297654),
 ('No_Attrition',
  ('Male', 'No_OverTime'),
  346,
  0.39184597961494905,
  0.8759493670886076,
  1.059538754985261),
 ('No_Attrition',
  ('Male', 'No_OverTime', 'Travel_Rarely'),
  254,
  0.2876557191392978,
  0.872852233676976,
  1.0557924963517393),
 ('No_Attrition',
  ('Male', 'Travel_Rarely'),
  322,
  0.3646659116647792,
  0.817258883248731,
  0.9885473889159307),
 ('No_Attrition',
  ('MidLevel', 'No_OverTime'),
  216,
  0.24462061155152887,
  0.935064935064935,
  1.131044298167586),
 ('No_Attrition',
  ('MidLevel', 'Travel_Rarely'),
  219,
  0.2480181200453001,
  0.9240506329113924,
  1.1177215189873417),
 ('No_Attrition',
  ('No_OverTime', 'Travel_Rarely'),
  414,
  0.46885617214043035,
  0.8846153846153846,
  1.0700210748155954),
 ('No_Attrition',
  ('[1.0, 3.8)_Distance', 'No_OverTime'),
  197,
  0.22310305775764439,
  0.8914027149321267,
  1.0782309551850244),
 ('No_Attrition',
  ('[11.0, 13.8)_%', 'High'),
  204,
  0.23103057757644394,
  0.8571428571428571,
  1.0367906066536203),
 ('No_Attrition',
  ('[11.0, 13.8)_%', 'Male'),
  191,
  0.21630804077010193,
  0.809322033898305,
  0.9789470629208266),
 ('No_Attrition',
  ('[11.0, 13.8)_%', 'No_OverTime'),
  220,
  0.2491506228765572,
  0.8764940239043825,
  1.0601975659007805),
 ('No_Attrition',
  ('[11.0, 13.8)_%', 'Travel_Rarely'),
  219,
  0.2480181200453001,
  0.8171641791044776,
  0.9884328358208955),
 ('No_Attrition',
  ('[32.0, 39.0)_Age', 'No_OverTime'),
  200,
  0.22650056625141562,
  0.8928571428571429,
  1.0799902152641878),
 ('No_Attrition',
  ('[32.0, 39.0)_Age', 'Travel_Rarely'),
  190,
  0.21517553793884484,
  0.8482142857142857,
  1.0259907045009784),
 ('No_OverTime',
  ('Bachelor', 'No_Attrition'),
  233,
  0.2638731596828992,
  0.8090277777777778,
  1.119704588993382),
 ('No_OverTime',
  ('Bachelor', 'Travel_Rarely', 'No_Attrition'),
  183,
  0.2072480181200453,
  0.8243243243243243,
  1.1408752012200287),
 ('No_OverTime',
  ('EntryLevel', 'No_Attrition'),
  223,
  0.25254813137032844,
  0.8479087452471483,
  1.1735163355066331)}

In [31]:
rules6 = apriori(baskets, supp=25, zmin=4, target='r', conf=80, 
                report='ascl') 
print('Number of rule:', len(rules6))
set(rules6)

Number of rule: 5

{('No_Attrition',
  ('High', 'No_OverTime', 'Travel_Rarely'),
  279,
  0.3159682899207248,
  0.9207920792079208,
  1.1137800081378),
 ('No_Attrition',
  ('Male', 'High', 'No_OverTime'),
  225,
  0.2548131370328426,
  0.9183673469387755,
  1.1108470785574505),
 ('No_Attrition',
  ('Male', 'High', 'Travel_Rarely'),
  224,
  0.2536806342015855,
  0.8682170542635659,
  1.0501858341297654),
 ('No_Attrition',
  ('Male', 'No_OverTime', 'Travel_Rarely'),
  254,
  0.2876557191392978,
  0.872852233676976,
  1.0557924963517393),
 ('No_OverTime',
  ('Bachelor', 'Travel_Rarely', 'No_Attrition'),
  183,
  0.2072480181200453,
  0.8243243243243243,
  1.1408752012200287)}

Confidance 90%

In [32]:
rules7 = apriori(baskets, supp=25, zmin=3, target='r', conf=90, 
                report='ascl') 
print('Number of rule:', len(rules7))
set(rules7)

Number of rule: 9

{('No_Attrition',
  ('1_stockOption', 'High'),
  218,
  0.24688561721404303,
  0.919831223628692,
  1.1126177677590892),
 ('No_Attrition',
  ('1_stockOption', 'No_OverTime'),
  239,
  0.2706681766704417,
  0.9372549019607843,
  1.133693258125168),
 ('No_Attrition',
  ('1_stockOption', 'Travel_Rarely'),
  224,
  0.2536806342015855,
  0.9032258064516129,
  1.0925320371188687),
 ('No_Attrition',
  ('Female', 'No_OverTime'),
  219,
  0.2480181200453001,
  0.9012345679012346,
  1.0901234567901235),
 ('No_Attrition',
  ('High', 'No_OverTime'),
  378,
  0.42808607021517553,
  0.9197080291970803,
  1.1124687531246875),
 ('No_Attrition',
  ('High', 'No_OverTime', 'Travel_Rarely'),
  279,
  0.3159682899207248,
  0.9207920792079208,
  1.1137800081378),
 ('No_Attrition',
  ('Male', 'High', 'No_OverTime'),
  225,
  0.2548131370328426,
  0.9183673469387755,
  1.1108470785574505),
 ('No_Attrition',
  ('MidLevel', 'No_OverTime'),
  216,
  0.24462061155152887,
  0.935064935064935,
  1.131044298167586),
 ('No_Attrition',
  ('MidLevel', 'Travel_Rarely'),
  219,
  0.2480181200453001,
  0.9240506329113924,
  1.1177215189873417)}

In [33]:
rules8 = apriori(baskets, supp=25, zmin=4, target='r', conf=90, 
                report='ascl') 
print('Number of rule:', len(rules8))
set(rules8)

Number of rule: 2

{('No_Attrition',
  ('High', 'No_OverTime', 'Travel_Rarely'),
  279,
  0.3159682899207248,
  0.9207920792079208,
  1.1137800081378),
 ('No_Attrition',
  ('Male', 'High', 'No_OverTime'),
  225,
  0.2548131370328426,
  0.9183673469387755,
  1.1108470785574505)}